<div class="container-fluid v-full menu">
  <div class="row">
    <div class="col-12 no-padding">
      <div (click)="navigate('/students')"
           [class.menu-element-active]="activeSection === 'STUDENTS'"
           [class.menu-element-inactive]="activeSection !== 'STUDENTS'">

         <i class="fa fa-user menu-element-icon" aria-hidden="true"></i>

        Студенты
      </div>

      <div (click)="navigate('/groups')"
           [class.menu-element-active]="activeSection === 'GROUPS'"
           [class.menu-element-inactive]="activeSection !== 'GROUPS'">

        <i class="fa fa-users menu-element-icon" aria-hidden="true"></i>

        Группы
      </div>

      <div (click)="navigate('/teachers')"
           [class.menu-element-active]="activeSection === 'TEACHERS'"
           [class.menu-element-inactive]="activeSection !== 'TEACHERS'">

        <i class="fa fa-graduation-cap menu-element-icon" aria-hidden="true"></i>

        Учителя
      </div>

      <div (click)="navigate('/cabinets')"
           [class.menu-element-active]="activeSection === 'CABINETS'"
           [class.menu-element-inactive]="activeSection !== 'CABINETS'">

        <i class="fa fa-building menu-element-icon" aria-hidden="true"></i>

        Кабинеты
      </div>
    </div>
  </div>
</div>
