<div class="page">
  <app-header [activeSection]="'TEACHERS'"></app-header>

  <div class="list-header-container">
    <div class="list-header">
      <div app-search-text-input-control class="teacher-name-column"
           [placeholder]="'Имя'"
           (onChange)="onSearchChange($event)">
      </div>
      <div class="teacher-load-column">
        Учебная нагрузка
      </div>
      <div class="teacher-income-column">
        Доход / нед
      </div>
      <div class="teacher-outcome-column">
        Зарплата / нед
      </div>
    </div>

    <div class="teachers-list-header-add-new">
      <button class="btn btn-primary pull-right" (click)="openNewTeacherPage()">
        Добавить
      </button>
    </div>
  </div>

  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <fa name="spinner" class="loading-sign" animation="spin"></fa>
    </div>

    <div *ngFor="let teacher of teachers" class="list-row-clickable" (click)="openTeacherPage(teacher.id)">
      <div class="list-row-item teacher-name-column">
        {{teacher.name}}
      </div>
      <div class="list-row-item teacher-load-column">
        {{getLoadMinutes(teacher.id) / 60.0}} часов
      </div>
      <div class="list-row-item teacher-income-column">
        {{getWeeklyIncome(teacher.id)}} Р
      </div>
      <div class="list-row-item teacher-salary-column">
        {{getWeeklySalary(teacher.id)}} Р
      </div>
    </div>
  </div>
</div>
