@import "../../../styles/colors.less";

.teacher-name-column {
  width: 20%;
}

.teacher-load-column {
  width: 20%;
}

.teacher-payment-column {
  width: 20%
}

.teachers-list-header-add-new {
  position: absolute;
  left: 90%;
  width: 10%;
  margin-top: 10px;
  padding-right: 20px;
}
