<div class="page">
  <app-header [activeSection]="'TEACHERS'"></app-header>

  <div class="list-header-container">
    <div class="list-header">
      <div app-search-text-input-control class="teachers-list-header-search"
           [placeholder]="'Имя'"
           (onChange)="onSearchChange($event)"></div>
    </div>

    <div class="teachers-list-header-add-new">
      <button class="btn btn-primary pull-right" (click)="openNewTeacherPage()">
        Добавить
      </button>
    </div>
  </div>

  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <fa name="spinner" class="loading-sign" animation="spin"></fa>
    </div>

    <div *ngFor="let teacher of teachers" class="list-row-clickable" (click)="openTeacherPage(teacher.id)">
      <div class="list-row-item">{{teacher.name}}</div>
    </div>
  </div>
</div>
