@import "../../../styles/colors.less";

.teacher-name-column {
  width: 20%;
  padding-right: 20px;
}

.teacher-load-column {
  width: 20%;
  padding-right: 20px;
}

.teacher-income-column {
  width: 20%;
  padding-right: 20px;
}

.teacher-salary-column {
  width: 20%;
  padding-right: 20px;
}

.teachers-list-header-add-new {
  position: absolute;
  left: 90%;
  width: 10%;
  margin-top: 10px;
  padding-right: 20px;
}
