@import "~styles/index";

.timetable-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: @color-fill_basic_light;
  border: 1px solid @color-stroke_basic_light;
  color: @color-fill_text_basic;
}

.timetable-header-item {
  .app-font-regular;

  text-align: center;
  width: 14.28%;
  padding: 5px 0;
}

.timetable-body {
  border-left: 1px solid @color-stroke_basic_light;
  border-right: 1px solid @color-stroke_basic_light;
  border-bottom: 1px solid @color-stroke_basic_light;
}

.timetable-body-row {
  display: flex;
  flex-direction: row;
}

.timetable-body-row-item {
  .app-font-regular;

  text-align: center;
  width: 14.28%;
  padding: 5px 0;
  color: @color-fill_text_basic;
}

.timetable-current-day {
  border-left: 1px solid @color-stroke_basic_light;
  border-right: 1px solid @color-stroke_basic_light;
}

.timetable-current-time {
  border-top: 1px solid @color-stroke_basic_light;
  border-bottom: 1px solid @color-stroke_basic_light;
}

.timetable-current-time-clickable:hover {
  cursor: pointer;
  opacity: 0.9;
}
