<div class="timetable-header">
  <div *ngFor="let dayOfWeek of daysOfWeek"
       [class.timetable-current-day]="dayOfWeek === getCurrentDay()"
       class="timetable-header-item">
    {{translationService.dayOfWeek().translate(dayOfWeek)}}
  </div>
</div>

<div class="timetable-body">
  <div *ngFor="let time of timeRange" class="timetable-body-row">
    <div *ngFor="let dayOfWeek of daysOfWeek"
         class="timetable-body-row-item"
         [class.timetable-body-row-item-clickable]="!!getGroup(dayOfWeek, time)"
         [style.background-color]="!!getGroup(dayOfWeek, time) ? getGroup(dayOfWeek, time).color : '#202F42'"
         (click)="onTimeSlotClick(dayOfWeek, time)">
      {{translationService.time().translate(time)}}
    </div>
  </div>
</div>
