<div class="app-list-page">
  <app-header [activeSection]="'GROUPS'"></app-header>

  <div class="app-list-header">
    <div class="app-groups-list-column-color"></div>

    <app-select-group-type-control
      class="app-groups-list-column-type"
      (onChange)="onGroupTypeFilterChange($event)">
    </app-select-group-type-control>

    <app-select-education-level-control
      class="app-groups-list-column-education-level"
      (onChange)="onEducationLevelFilterChange($event)">
    </app-select-education-level-control>

    <app-select-age-control
      class="app-groups-list-column-age"
      (onChange)="onAgeFilterChange($event)">
    </app-select-age-control>

    <app-select-cabinet-control
      class="app-groups-list-column-cabinets"
      [items]="[]"
      (onChange)="onCabinetFilterChange($event)">
    </app-select-cabinet-control>

    <div class="app-groups-list-column-students app-list-header-label">
      Студенты
    </div>

    <div class="app-groups-list-column-actions">
      <button class="app-button-primary pull-right" (click)="this.navigationService.groups().new().go()">
        Добавить
      </button>
    </div>
  </div>

  <div class="app-list-content">
    <div *ngFor="let group of groups"
         class="list-row-clickable"
         [class.list-row-inactive]="!isGroupActive(group.id)"
         (click)="openGroupPage(group.id)">

      <div class="list-row-item app-groups-list-column-color">
        <div class="groups-list-item-color-circle" [style.background-color]="group.color">
        </div>
      </div>
      <div class="list-row-item app-groups-list-column-type">
        {{translationService.groupType().translate(group.type)}}
      </div>
      <div class="list-row-item app-groups-list-column-education-level">
        {{translationService.educationLevel().translate(group.educationLevel)}}
      </div>
      <div class="list-row-item app-groups-list-column-age">
        {{translationService.age().translate(group.age)}}
      </div>
      <div class="list-row-item app-groups-list-column-cabinets">
        {{getGroupCabinet(group.id).name}}
      </div>
      <div class="list-row-item app-groups-list-column-students">
        {{getGroupStudentsString(group.id)}}
      </div>
    </div>
  </div>
</div>
