<div class="page">
  <app-header [activeSection]="'STUDENTS'"></app-header>

  <div class="list-header-container">
    <div class="list-header">
      <div class="student-validation-column"></div>

      <div app-search-text-input-control class="students-list-header-search student-name-column"
           [placeholder]="'Имя'"
           (onChange)="onNameFilterChange($event)"></div>

      <div app-search-select-control class="students-list-header-search student-education-level-column"
           [items]="getEducationLevelItems()"
           (onChange)="onEducationLevelFilterChange($event)"></div>

      <div app-search-select-control class="students-list-header-search student-age-column"
           [items]="getAgeItems()"
           (onChange)="onAgeFilterChange($event)"></div>

      <div app-search-select-control class="students-list-header-search student-status-column"
           [items]="getStatusItems()"
           (onChange)="onStatusFilterChange($event)"></div>

    </div>

    <div class="students-list-header-add-new">
      <button class="btn btn-primary pull-right" (click)="openNewStudentPage()">
        Добавить
      </button>
    </div>
  </div>

  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <fa name="spinner" class="loading-sign" animation="spin"></fa>
    </div>

    <div *ngFor="let student of students" (click)="openStudentPage(student.id)" class="list-row-clickable">
      <div class="list-row-item student-validation-column">
        <app-field-validation-sign [valid]="isStudentFilled(student)"></app-field-validation-sign>
      </div>
      <div class="list-row-item student-name-column">
        {{student.name}}
      </div>
      <div class="list-row-item student-education-level-column">
        {{getEducationLevelTranslation(student.educationLevel)}}
      </div>
      <div class="list-row-item student-age-column">
        {{getAgeTranslationAsGroup(student.age)}}
      </div>
      <div class="list-row-item student-status-column">
        <div
          [class.student-status-label-request]="student.statusType == 'REQUEST'"
          [class.student-status-label-test-assigned]="student.statusType == 'TEST_ASSIGNED'"
          [class.student-status-label-free-lesson-assigned]="student.statusType == 'FREE_LESSON_ASSIGNED'"
          [class.student-status-label-group-assigned]="student.statusType == 'GROUP_ASSIGNED'"
          [class.student-status-label-temporarily-stopped]="student.statusType == 'TEMPORARILY_STOPPED'"
          [class.student-status-label-left]="student.statusType == 'LEFT'">
          {{getStudentStatusTypeTranslation(student.statusType)}}
        </div>
      </div>
    </div>
  </div>
</div>
