@import "../../../styles.less";

.student-validation-column {
  width: 5%;
}

.student-name-column {
  width: 25%;
}

.student-education-level-column {
  width: 20%;
}

.student-age-column {
  width: 20%;
}

.student-status-column {
  width: 20%;
}

.student-status-label {
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 20px;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}

.student-status-label-request {
  .student-status-label;

  background-color: #cc8800;
  color: #ffffff;
}

.student-status-test-assigned {
  .student-status-label;

  background-color: #009955;
  color: #ffffff;
}

.student-status-label-free-lesson-assigned {
  .student-status-label;

  background-color: #559900;
  color: #ffffff;
}

.student-status-label-group-assigned {
  .student-status-label;

  background-color: #00aa00;
  color: #ffffff;
}

.student-status-label-temporarily-stopped {
  .student-status-label;

  background-color: #6f6e6f;
  color: #ffffff;
}

.student-status-label-left {
  .student-status-label;

  background-color: #aa0000;
  color: #ffffff;
}

.students-list-header-add-new {
  position: absolute;
  left: 90%;
  width: 10%;
  margin-top: 10px;
  padding-right: 20px;
}

.student-state {
  margin-right: 10px;
}

.student-state-error {
  .student-state;

  color: #aa0000;
}

.student-state-ok {
  .student-state;

  color: #00aa00;
}

.students-list-header-search {
  padding-right: 20px;
}

.student-invalid {
  color: #aa0000;
}
