<div class="page">
  <app-header [activeSection]="'STUDENTS'"></app-header>

  <div class="list-header">
    <div style="width: 5%">
    </div>

    <div style="width: 20%" class="students-list-header-search">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>

        <input class="form-control" placeholder="Имя" (keyup)="onNameFilterChange($event.target.value)">
      </div>
    </div>

    <div style="width: 20%" class="students-list-header-search">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>

        <select class="form-control" (change)="onEducationLevelFilterChange($event.target.value)">
          <option *ngFor="let educationLevel of educationLevels" value="{{educationLevel}}">
            {{educationLevel === 'UNKNOWN' ? 'Все уровни' : getEducationLevelTranslation(educationLevel)}}
          </option>
        </select>
      </div>
    </div>

    <div style="width: 20%" class="students-list-header-search">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>

        <select class="form-control" (change)="onAgeFilterChange($event.target.value)">
          <option *ngFor="let age of ages" value="{{age}}">
            {{age === 'UNKNOWN' ? 'Все возрастные категории' : getAgeTranslationAsGroup(age)}}
          </option>
        </select>
      </div>
    </div>

    <div style="width: 20%" class="students-list-header-search">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>

        <select class="form-control" (change)="onStatusFilterChange($event.target.value)">
          <option value="{{null}}">Все</option>
          <option *ngFor="let status of statuses" value="{{status}}">
            {{age === 'UNKNOWN' ? 'Все статусы' : getStudentStatusTypeTranslation(status)}}
          </option>
        </select>
      </div>
    </div>

    <div class="students-list-header-add-new">
      <button class="btn btn-primary pull-right" (click)="openNewStudentPage()">
        Добавить
      </button>
    </div>
  </div>

  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <fa name="spinner" class="loading-sign" animation="spin"></fa>
    </div>

    <div *ngFor="let student of students" class="list-row-clickable" (click)="openStudentPage(student.id)">
      <div class="list-row-item" style="width: 5%">
        <app-field-validation-sign [valid]="isStudentFilled(student)"></app-field-validation-sign>
      </div>
      <div class="list-row-item" style="width: 20%">
        {{student.name}}
      </div>
      <div class="list-row-item" style="width: 20%">
        {{getEducationLevelTranslation(student.educationLevel)}}
      </div>
      <div class="list-row-item" style="width: 20%">
        {{getAgeTranslationAsGroup(student.age)}}
      </div>
      <div class="list-row-item" style="width: 20%">
        {{getStudentStatusTypeTranslation(student.statusType)}}
      </div>
      <div class="list-row-item" style="width: 15%">
      </div>
    </div>
  </div>
</div>
