@import "../../../styles.less";

.student-state {
  margin-right: 10px;
}

.student-state-error {
  .student-state;

  color: #aa0000;
}

.student-state-ok {
  .student-state;

  color: #00aa00;
}

.students-list-header-search {
  padding-right: 20px;
}

.students-list-header-add-new {
  width: 15%;
}

.student-invalid {
  color: #aa0000;
}
