@import "~styles/index";

.app-student-card-payment-row-info {
  .app-card-page-row-with-actions-info;

  width: 80%;
}

.payments-date-column {
  width: 25%;
}

.payments-amount-column {
  width: 25%;
}

.payments-teachers-column {
  width: 25%;
}

.payments-registered-column {
  width: 25%;
}

.app-student-card-payment-row-actions {
  .app-card-page-row-with-actions-actions;

  width: 20%;
}

.app-student-card-payment-row-actions-delete {
  width: 49%;

  margin-right: 1%;
}

.app-student-card-payment-row-actions-process {
  width: 50%;
}
