<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'ATTENDANCE'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header" *ngIf="!!student.id">
          {{student.name}} - Посещаемость
        </h3>

        <br>

        <div app-student-attendance-row *ngFor="let attendance of attendances" class="list-row"
             [attendance]="attendance" (attendanceDeleted)="onAttendanceDeleted($event)"></div>
      </ng-container>

      <app-student-attendance-modal [studentId]="student.id" (attendanceAdded)="onAttendanceAdded($event)"></app-student-attendance-modal>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#studentAttendance">
      Добавить посещаемость
    </button>
  </div>
</div>
