<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'STATUS'"></div>

    <div class="page-content-with-footer" *ngIf="!!student.id">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3>
          Статус ученика '{{student.name}}'
        </h3>

        <br>

        <form>
          <div [class.student-status-label-request]="currentStudentStatus.status == 'REQUEST'"
               [class.student-status-label-test-assigned]="currentStudentStatus.status == 'TEST_ASSIGNED'"
               [class.student-status-label-free-lesson-assigned]="currentStudentStatus.status == 'FREE_LESSON_ASSIGNED'"
               [class.student-status-label-group-assigned]="currentStudentStatus.status == 'GROUP_ASSIGNED'"
               [class.student-status-label-temporarily-stopped]="currentStudentStatus.status == 'TEMPORARILY_STOPPED'"
               [class.student-status-label-left]="currentStudentStatus.status == 'LEFT'">
            {{getStudentStatusTypeTranslation(currentStudentStatus.status)}}
          </div>

          <br>

          <div *ngIf="hasAction(currentStudentStatus.status)" app-form-text-input-control class="form-group"
               [name]="'currentActionDate'"
               [label]="getActionLabel()"
               [value]="currentStudentStatus.actionTime | date: 'dd.MM.yyyy HH:mm'"
               [placeholder]="''"
               [valid]="true"></div>

          <!-- Status update buttons -->

          <div *ngIf="currentStudentStatus.status === 'REQUEST'">
            <button class="btn btn-primary" (click)="setNewStudentStatus('TEST_ASSIGNED')" data-toggle="modal" data-target="#studentStatus">
              Назначить тестирование
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('REQUEST')" data-toggle="modal" data-target="#studentStatus">
              Перезвонить
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('LEFT')" data-toggle="modal" data-target="#studentStatus">
              Студент отказался от занятий
            </button>
          </div>

          <div *ngIf="currentStudentStatus.status === 'TEST_ASSIGNED'">
            <button class="btn btn-primary" (click)="setNewStudentStatus('FREE_LESSON_ASSIGNED')" data-toggle="modal" data-target="#studentStatus">
              Тестирование проведено
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('TEST_ASSIGNED')" data-toggle="modal" data-target="#studentStatus">
              Тестирование перенесено
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('LEFT')" data-toggle="modal" data-target="#studentStatus">
              Студент отказался от тестирования
            </button>
          </div>

          <div *ngIf="currentStudentStatus.status === 'FREE_LESSON_ASSIGNED'">
            <button class="btn btn-primary" (click)="setNewStudentStatus('GROUP_ASSIGNED')" data-toggle="modal" data-target="#studentStatus">
              Бесплатное занятие проведено
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('FREE_LESSON_ASSIGNED')" data-toggle="modal" data-target="#studentStatus">
              Бесплатное занятие перенесено
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('LEFT')" data-toggle="modal" data-target="#studentStatus">
              Студент отказался от бесплатного занятия
            </button>
          </div>

          <div *ngIf="currentStudentStatus.status === 'GROUP_ASSIGNED'">
            <button class="btn btn-primary" (click)="setNewStudentStatus('TEMPORARILY_STOPPED')" data-toggle="modal" data-target="#studentStatus">
              Временно приостановил
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('LEFT')" data-toggle="modal" data-target="#studentStatus">
              Покинул
            </button>
          </div>

          <div *ngIf="currentStudentStatus.status === 'TEMPORARILY_STOPPED'">
            <button class="btn btn-primary" (click)="setNewStudentStatus('GROUP_ASSIGNED')" data-toggle="modal" data-target="#studentStatus">
              Возобновил занятия
            </button>

            <button class="btn btn-info" (click)="setNewStudentStatus('LEFT')" data-toggle="modal" data-target="#studentStatus">
              Покинул
            </button>
          </div>

          <br>

          <!-- History -->

          <h3>История:</h3>

          <br>

          <div class="list-header-container">
            <div class="list-header">
              <div style="width: 35%; margin-top: 10px; margin-left: 10px">
                <b>Дата изменения</b>
              </div>
              <div style="width: 35%; margin-top: 10px; margin-left: 10px">
                <b>Дата действия</b>
              </div>
              <div style="width: 30%">
              </div>
            </div>
          </div>

          <div class="list-content" style="overflow: visible">
            <div *ngFor="let studentStatus of studentStatuses" class="list-row">
              <div class="list-row-item" style="width: 35%;">
                <span *ngIf="studentStatus.creationTime === -1">
                  -
                </span>
                <span *ngIf="studentStatus.creationTime !== -1">
                  {{studentStatus.creationTime | date: 'dd.MM.yyyy HH:mm'}}
                </span>
              </div>
              <div class="list-row-item" style="width: 35%;">
                <span *ngIf="studentStatus.actionTime === -1">
                  -
                </span>
                <span *ngIf="studentStatus.actionTime !== -1">
                  {{studentStatus.actionTime | date: 'dd.MM.yyyy HH:mm'}}
                </span>
              </div>
              <div class="list-row-item" style="width: 30%;">
                <div [class.student-status-label-request]="studentStatus.status == 'REQUEST'"
                     [class.student-status-label-test-assigned]="studentStatus.status == 'TEST_ASSIGNED'"
                     [class.student-status-label-free-lesson-assigned]="studentStatus.status == 'FREE_LESSON_ASSIGNED'"
                     [class.student-status-label-group-assigned]="studentStatus.status == 'GROUP_ASSIGNED'"
                     [class.student-status-label-temporarily-stopped]="studentStatus.status == 'TEMPORARILY_STOPPED'"
                     [class.student-status-label-left]="studentStatus.status == 'LEFT'">
                  {{getStudentStatusTypeTranslation(studentStatus.status)}}
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>

      <app-student-status-modal
        *ngIf="!loadingInProgress"
        [studentId]="student.id"
        [previousStatus]="currentStudentStatus.status"
        [newStatus]="newStudentStatus"
        [hasAction]="hasAction(newStudentStatus)"
        (statusSaved)="onStatusSaved($event)">
      </app-student-status-modal>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
  </div>
</div>
