<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'STATUS'"></div>

    <div class="page-content-with-footer" *ngIf="!!student.id">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3>
          Статус ученика '{{student.name}}'
        </h3>

        <br>

        <form>
          <div
            [class.student-status-label-request]="currentStudentStatus.status == 'REQUEST'"
            [class.student-status-label-test]="currentStudentStatus.status == 'TEST'"
            [class.student-status-label-free-lesson]="currentStudentStatus.status == 'FREE_LESSON'"
            [class.student-status-label-awaiting-group]="currentStudentStatus.status == 'AWAITING_GROUP'"
            [class.student-status-label-studying]="currentStudentStatus.status == 'STUDYING'"
            [class.student-status-label-stopped]="currentStudentStatus.status == 'TEST_STOPPED' || currentStudentStatus.status == 'FREE_LESSON_STOPPED' || currentStudentStatus.status == 'AWAITING_GROUP_STOPPED' || currentStudentStatus.status == 'STUDYING_STOPPED'"
            [class.student-status-label-left]="currentStudentStatus.status == 'REQUEST_LEFT' || currentStudentStatus.status == 'TEST_LEFT' || currentStudentStatus.status == 'FREE_LESSON_LEFT' || currentStudentStatus.status == 'AWAITING_GROUP_LEFT' || currentStudentStatus.status == 'STUDYING_LEFT'">
            {{getStudentStatusTypeTranslation(currentStudentStatus.status)}}
          </div>

          <br>

          <div *ngIf="hasAction(currentStudentStatus)" app-form-text-input-control class="form-group"
               [name]="'currentActionDate'"
               [label]="getActionLabel()"
               [value]="currentStudentStatus.actionTime | date: 'dd.MM.yyyy HH:mm'"
               [editable]="false"
               [placeholder]="''"
               [valid]="true"></div>

          <!-- Status update buttons -->

          <div>
            <button *ngFor="let statusAction of getStatusActions(currentStudentStatus.status)"
                    class="btn horizontal-item"
                    [class.btn-primary]="statusAction.isPrimary"
                    [class.btn-secondary]="!statusAction.isPrimary"
                    (click)="setNewStudentStatus(statusAction.newStatus)"
                    data-toggle="modal" data-target="#studentStatus">
              {{statusAction.label}}
            </button>
          </div>

          <br>

          <!-- History -->

          <h3>История:</h3>

          <br>

          <div class="list-header-container">
            <div class="list-header">
              <div style="width: 35%; margin-top: 10px; margin-left: 10px">
                <b>Дата изменения</b>
              </div>
              <div style="width: 35%; margin-top: 10px; margin-left: 10px">
                <b>Дата действия</b>
              </div>
              <div style="width: 30%">
              </div>
            </div>
          </div>

          <div class="list-content" style="overflow: visible">
            <div *ngFor="let studentStatus of studentStatuses" class="list-row">
              <div class="list-row-item" style="width: 35%;">
                <span *ngIf="studentStatus.creationTime === 0">
                  -
                </span>
                <span *ngIf="studentStatus.creationTime !== -1">
                  {{studentStatus.creationTime | date: 'dd.MM.yyyy HH:mm'}}
                </span>
              </div>
              <div class="list-row-item" style="width: 35%;">
                <span *ngIf="!hasAction(studentStatus)">
                  Действие не требуется
                </span>
                <span *ngIf="hasAction(studentStatus)">
                  {{studentStatus.actionTime | date: 'dd.MM.yyyy HH:mm'}}
                </span>
              </div>
              <div class="list-row-item" style="width: 30%;">
                <div
                  [class.student-status-label-request]="studentStatus.status == 'REQUEST'"
                  [class.student-status-label-test]="studentStatus.status == 'TEST'"
                  [class.student-status-label-free-lesson]="studentStatus.status == 'FREE_LESSON'"
                  [class.student-status-label-awaiting-group]="studentStatus.status == 'AWAITING_GROUP'"
                  [class.student-status-label-studying]="studentStatus.status == 'STUDYING'"
                  [class.student-status-label-stopped]="studentStatus.status == 'TEST_STOPPED' || studentStatus.status == 'FREE_LESSON_STOPPED' || studentStatus.status == 'AWAITING_GROUP_STOPPED' || studentStatus.status == 'STUDYING_STOPPED'"
                  [class.student-status-label-left]="studentStatus.status == 'REQUEST_LEFT' || studentStatus.status == 'TEST_LEFT' || studentStatus.status == 'FREE_LESSON_LEFT' || studentStatus.status == 'AWAITING_GROUP_LEFT' || studentStatus.status == 'STUDYING_LEFT'">
                  {{getStudentStatusTypeTranslation(studentStatus.status)}}
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>

      <app-student-status-modal
        *ngIf="!loadingInProgress"
        [studentId]="student.id"
        [previousStatus]="currentStudentStatus.status"
        [newStatus]="newStudentStatus"
        [hasAction]="hasAction(newStudentStatus)"
        (statusSaved)="onStatusSaved($event)">
      </app-student-status-modal>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
  </div>
</div>
