<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="event-participants-header" *ngIf="!!participant.id">
          Редактирование участника
        </h3>

        <h3 class="event-participants-header" *ngIf="!participant.id">
          Добавление участника
        </h3>

        <br>

        <form>
          <div app-form-text-input-control class="form-group"
               [name]="'name'"
               [label]="'Имя'"
               [placeholder]="'Введите имя'"
               [valid]="!!participant.name && participant.name.indexOf('?') === -1"
               [value]="participant.name"
               [editable]="true"
               (onChange)="participant.name = $event"></div>

          <div app-form-text-input-control class="form-group"
               [name]="'phone'"
               [label]="'Телефон'"
               [placeholder]="'Введите телефон'"
               [valid]="!!participant.phone"
               [value]="participant.phone"
               [editable]="true"
               (onChange)="participant.phone = $event"></div>

          <div class="form-group">
            <label>Статус:</label>

            <div [class.participant-status-request]="participant.status === 'REQUEST'"
                 [class.participant-status-early-confirmation]="participant.status === 'EARLY_CONFIRMATION'"
                 [class.participant-status-late-confirmation]="participant.status === 'LATE_CONFIRMATION'"
                 [class.participant-status-attended]="participant.status === 'ATTENDED'"
                 [class.participant-status-not-attended]="participant.status === 'NOT_ATTENDED'"
                 [class.participant-status-canceled]="participant.status === 'CANCELED'">
              {{participant.status | translate}}
            </div>
          </div>

          <div *ngIf="participant.status === 'REQUEST'">
            <button class="btn btn-primary">Подтвердил</button>
            <button class="btn btn-secondary">Отменил</button>
          </div>

          <div *ngIf="participant.status === 'EARLY_CONFIRMATION'">
            <button class="btn btn-primary">Подтвердил повторно</button>
            <button class="btn btn-secondary">Отменил</button>
          </div>

          <div *ngIf="participant.status === 'LATE_CONFIRMATION'">
            <button class="btn btn-primary">Посетил</button>
            <button class="btn btn-secondary">Не пришёл</button>
            <button class="btn btn-secondary">Отменил</button>
          </div>
        </form>
      </ng-container>
    </div>

    <div class="page-right-menu"></div>
  </div>

  <div class="footer">
    <button [disabled]="loadingInProgress" class="btn btn-primary pull-right horizontal-item">
      Сохранить
    </button>

    <button [disabled]="loadingInProgress || !participant.id" class="btn btn-danger pull-right">
      Удалить
    </button>
  </div>
</div>
