<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="page-left-menu" app-cabinet-card-menu [cabinetId]="cabinet.id" [currentTab]="'INFORMATION'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-card-page-title" *ngIf="!!cabinet.id">
          Кабинет '{{cabinet.name}}'
        </h3>

        <h3 class="app-card-page-title" *ngIf="!cabinet.id">
          Добавление кабинета
        </h3>

        <br>

        <form>
          <app-form-input-control [label]="'Название'" [valid]="!!cabinet.name">
            <app-text-control
              [value]="cabinet.name"
              [placeholder]="'Введите название'"
              (onChange)="cabinet.name = $event">
            </app-text-control>
          </app-form-input-control>

          <app-form-input-control [label]="'Тип'" [valid]="!!cabinet.cabinetType">
            <app-form-select-control class="form-group"
                 [name]="'educationLevel'"
                 [label]="'Уровень подготовки'"
                 [valid]="cabinet.cabinetType !== 'UNKNOWN'"
                 [valueString]="cabinet.cabinetType"
                 [items]="cabinetTypes"
                 (onChangeString)="cabinet.cabinetType = $event"></app-form-select-control>
          </app-form-input-control>
        </form>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button [disabled]="loadingInProgress || actionInProgress || !cabinet.id"
            class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>

    <button [disabled]="loadingInProgress || actionInProgress"
            class="btn btn-primary pull-right" (click)="save()">
      Сохранить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>
  </div>
</div>
