<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'PAYMENT'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          {{student.name}}. Оплата
        </div>

        <br>

        <app-student-card-payment-row
          *ngFor="let payment of payments"
          [payment]="payment"
          [staffMembers]="staffMembers"
          (paymentDeleted)="onPaymentDeleted($event)">
        </app-student-card-payment-row>
      </ng-container>

      <app-student-payment-add-popup
        [studentId]="student.id"
        (paymentAdded)="onPaymentAdded($event)">
      </app-student-payment-add-popup>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button class="app-button-primary app-card-page-footer-button">
      Добавить оплату
    </button>
  </div>
</div>
