<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'PAYMENT'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header" *ngIf="!!student.id">
          {{student.name}} - Оплата
        </h3>

        <br>

        <div class="list-header-container">
          <div class="list-header">
            <div style="width: 20%">
              <div class="list-header-label">
                Дата
              </div>
            </div>
            <div style="width: 20%">
              <div class="list-header-label">
                Сумма
              </div>
            </div>
            <div style="width: 20%">
              <div class="list-header-label">
                Преподаватель
              </div>
            </div>
            <div style="width: 20%">
              <div class="list-header-label">
                Учтено
              </div>
            </div>
          </div>
        </div>

        <div app-student-card-payment-row
             *ngFor="let payment of payments"
             class="list-row"
             [payment]="payment"
             [staffMembers]="staffMembers"
             (paymentDeleted)="onPaymentDeleted($event)">
        </div>

      </ng-container>

      <app-student-payment-modal [studentId]="student.id" (paymentAdded)="onPaymentAdded($event)"></app-student-payment-modal>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#studentPayment">
      Добавить оплату
    </button>
  </div>
</div>
