<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div
      app-student-menu
      class="app-card-page-left-menu"
      [studentLogin]="student?.login"
      [currentTab]="'PAYMENT'">
    </div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          {{student.person.name}}. Оплата
        </div>

        <br>

        <app-student-card-payment-row
          *ngFor="let payment of payments"
          [payment]="payment"
          [staffMembers]="staffMembers"
          (paymentDeleted)="onPaymentDeleted($event)"
          (paymentProcessed)="onPaymentProcessed($event)">
        </app-student-card-payment-row>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button class="app-button-primary app-card-page-footer-button" (click)="addPayment()">
      Добавить оплату
    </button>
  </div>
</div>

<app-student-payment-add-popup
  (paymentAdded)="onPaymentAdded($event)">
</app-student-payment-add-popup>
