<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-event-menu [eventId]="event?.id" [currentTab]="'INFORMATION'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 *ngIf="!!event.id">
          Редактирование мероприятия '#{{event.name}}'
        </h3>

        <h3 *ngIf="!event.id">
          Создание Мероприятия
        </h3>

        <br>

        <form>
          <div app-form-select-control class="form-group"
               [type]="'STRING'"
               [name]="'eventType'"
               [label]="'Тип мероприятия'"
               [valid]="!!event.eventType"
               [valueString]="event.eventType"
               [hasEmpty]="true"
               [items]="eventTypeItems"
               (onChangeString)="event.eventType = $event"></div>

          <div app-form-text-input-control class="form-group"
               [name]="'name'"
               [label]="'Название'"
               [placeholder]="'Введите название'"
               [valid]="!!event.name"
               [value]="event.name"
               [editable]="true"
               (onChange)="event.name = $event"></div>

          <div app-form-select-control class="form-group"
               [type]="'NUMERIC'"
               [name]="'cabinet'"
               [label]="'Кабинет'"
               [valid]="!!event.cabinetId"
               [valueNumber]="event.cabinetId"
               [hasEmpty]="true"
               [items]="getCabinetItems()"
               (onChangeNumber)="event.cabinetId = $event"></div>

          <div app-form-select-control class="form-group"
               [type]="'NUMERIC'"
               [name]="'teacher'"
               [label]="'Преподаватель'"
               [valid]="!!event.teacherId"
               [valueNumber]="event.teacherId"
               [hasEmpty]="true"
               [items]="getTeachersItems()"
               (onChangeNumber)="event.teacherId = $event"></div>

          <div style="display: flex; flex-direction: row">
            <div style="width: 33%">
              <div app-form-date-control class="form-group"
                   [label]="'Дата занятия'" [dateFormat]="'dd.mm.yyyy'"
                   [value]="event.date" (onChange)="event.date = $event"></div>
            </div>

            <div class="horizontal-item" style="width: 33%">
              <div app-form-select-control class="form-group"
                   [type]="'STRING'"
                   [name]="'startTime'"
                   [label]="'Время начала'"
                   [valid]="!!event.startTime"
                   [valueString]="event.startTime"
                   [hasEmpty]="true"
                   [items]="timeItems"
                   (onChangeString)="event.startTime = $event"></div>
            </div>

            <div class="horizontal-item" style="width: 33%">
              <div app-form-select-control class="form-group"
                   [type]="'STRING'"
                   [name]="'finishTime'"
                   [label]="'Время окончания'"
                   [valid]="!!event.finishTime"
                   [valueString]="event.finishTime"
                   [hasEmpty]="true"
                   [items]="timeItems"
                   (onChangeString)="event.finishTime = $event"></div>
            </div>
          </div>
        </form>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button [disabled]="loadingInProgress || !event.id" class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
    </button>

    <button [disabled]="loadingInProgress" class="btn btn-primary pull-right" (click)="save()">
      Сохранить
    </button>
  </div>
</div>
