<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          Информация
        </div>

        <br>

        <app-form-input-control
          [label]="'Имя'"
          [valid]="!!student.person.name && student.person.name.indexOf('?') === -1">
          <app-text-control
            [placeholder]="'Имя'"
            [value]="student.person.name"
            (onChange)="student.person.name = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-person-contacts
          [personContacts]="student.person.contacts"
          (onPersonContactsChanged)="student.person.contacts = $event">
        </app-person-contacts>

        <br>

        <app-form-input-control
          [label]="'Уровень подготовки'"
          [valid]="student.educationInfo.level !== 'UNKNOWN'">
          <app-select-education-level-control
            [value]="student.educationInfo.level"
            (onChange)="student.educationInfo.level = $event">
          </app-select-education-level-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Возраст'"
          [valid]="student.educationInfo.age !== 'UNKNOWN'">
          <app-select-age-control
            [value]="student.educationInfo.age"
            (onChange)="student.educationInfo.age = $event">
          </app-select-age-control>
        </app-form-input-control>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <div class="app-button-secondary pull-right" (click)="navigationService.students().list().go()">
      Отменить
    </div>

    <div class="app-button-primary pull-right" (click)="save()">
      Сохранить
    </div>
  </div>
</div>
