<div class="app-list-page">
  <app-header [activeSection]="'STAFF_MEMBERS'"></app-header>

  <div class="app-list-header">
    <app-text-control
      [icon]="'fa-search'"
      [placeholder]="'Имя'"
      (onChange)="onSearchChange($event)">
    </app-text-control>

    <div class="app-staff-members-list-column-actions">
      <button class="app-button-primary pull-right" (click)="openNewStaffMemberPage()">
        Добавить
      </button>
    </div>
  </div>

  <div class="app-list-content">
    <div *ngFor="let staffMember of staffMembers" class="list-row-clickable" (click)="openStaffMemberPage(staffMember.login)">
      <div class="list-row-item app-staff-members-list-column-name">
        {{staffMember.person.name}}
      </div>
    </div>
  </div>
</div>
