<div class="app-card-page-row-with-actions">
  <div class="app-student-card-attendance-row-info">
    <div class="app-student-card-attendance-row-info-date-column">
      <div class="app-card-page-text">
        {{attendance.startTime | date: 'dd.MM.yyyy'}} {{attendance.startTime | date: 'HH:mm'}} - {{attendance.finishTime | date: 'HH:mm'}}
      </div>
    </div>
    <div class="app-student-card-attendance-row-info-status-column">
      <div class="app-card-page-text">
        {{translationService.studentAttendanceType().translate(attendance.type)}}
      </div>
    </div>
  </div>
  <div class="app-student-card-attendance-row-actions">
    <button class="app-button-danger app-student-card-attendance-row-actions-delete" (click)="deleteAttendance()">
      Удалить
    </button>
  </div>
</div>
