@import "~styles/index";

.app-student-card-attendance-row-info {
  .app-card-page-row-with-actions-info;

  width: 80%;
}

.app-student-card-attendance-row-info-date-column {
  width: 50%;
}

.app-student-card-attendance-row-info-status-column {
  width: 50%;
}

.app-student-card-attendance-row-actions {
  .app-card-page-row-with-actions-actions;

  width: 20%;
}

.app-student-card-attendance-row-actions-delete {
  width: 100%;
}

