<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление занятия</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="teachers">Учитель:</label>
            <select id="teachers" class="form-control" name="teacher" [(ngModel)]="lesson.teacherId"
                    required minlength="1" #teacheId="ngModel">
              <option *ngFor="let teacher of teachers" value="{{teacher.id}}">
                {{teacher.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="dayOfWeek">День недели:</label>
            <select id="dayOfWeek" class="form-control" name="dayOfWeek" [(ngModel)]="lesson.day"
                    required minlength="1" #dayOfWeek="ngModel">
              <option *ngFor="let dayOfWeek of daysOfWeek" value="{{dayOfWeek}}">
                {{getDayOfWeekTranslation(dayOfWeek)}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="startTime">Начало занятия:</label>
            <select id="startTime" class="form-control" name="startTime" (change)="onStartTimeChange()" [(ngModel)]="lesson.startTime"
                    required minlength="1" #startTime="ngModel">
              <option *ngFor="let time of times" value="{{time}}">
                {{getTimeTranslation(time)}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="finishTime">Окончание занятия:</label>
            <select id="finishTime" class="form-control" name="finishTime" [(ngModel)]="lesson.finishTime"
                    required minlength="1" #finishTime="ngModel">
              <option *ngFor="let time of times" value="{{time}}">
                {{getTimeTranslation(time)}}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отмена
        </button>

        <button [disabled]="teacheId.invalid || dayOfWeek.invalid || startTime.invalid || finishTime.invalid"
                type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">
          Добавить
        </button>
      </div>
    </div>
  </div>
</div>
