<div class="person-contacts-group">
  <div class="person-contacts-group-title">
    <div class="app-card-page-text">
      Телефоны:
    </div>
  </div>

  <div *ngIf="personContacts.phones.length === 0" class="app-card-page-info">
    Нет добавленных телефонных номеров
  </div>

  <div *ngFor="let phone of personContacts.phones; let i = index" class="app-card-page-row-with-actions">
    <div class="app-person-contacts-row-info">
      <app-text-control
        class="app-person-contacts-row-info-name-column"
        [placeholder]="'Описание'"
        [value]="phone.name"
        [editable]="editable"
        (onChange)="phone.name = $event; notifyPersonContactsChanged();">
      </app-text-control>

      <app-text-control
        class="app-person-contacts-row-info-value-column"
        [placeholder]="'Телефон'"
        [value]="phone.value"
        [editable]="editable"
        (onChange)="phone.value = $event; notifyPersonContactsChanged();">
      </app-text-control>
    </div>
    <div class="app-person-contacts-row-actions" *ngIf="editable">
      <button class="app-button-secondary app-person-contacts-row-actions-delete" (click)="removePhone(i)">
        Удалить
      </button>
    </div>
  </div>

  <br>

  <button class="app-button-primary person-contacts-group-add" (click)="addPhone()" *ngIf="editable">
    Добавить
  </button>
</div>

<br>

<div class="person-contacts-group">
  <div class="person-contacts-group-title">
    <div class="app-card-page-text">
      VK:
    </div>
  </div>

  <div *ngIf="personContacts.vkLinks.length === 0" class="app-card-page-info">
    Нет добавленных ссылок VK
  </div>

  <div *ngFor="let vkLink of personContacts.vkLinks; let i = index" class="app-card-page-row-with-actions">
    <div class="app-person-contacts-row-info">
      <app-text-control
        class="app-person-contacts-row-info-name-column"
        [placeholder]="'Описание'"
        [value]="vkLink.name"
        [editable]="editable"
        (onChange)="vkLink.name = $event; notifyPersonContactsChanged();">
      </app-text-control>

      <app-text-control
        class="app-person-contacts-row-info-value-column"
        [placeholder]="'Телефон'"
        [value]="vkLink.value"
        [editable]="editable"
        (onChange)="vkLink.value = $event; notifyPersonContactsChanged();">
      </app-text-control>
    </div>
    <div class="app-person-contacts-row-actions">
      <button class="app-button-secondary app-person-contacts-row-actions-delete" (click)="removeVkLink(i)" *ngIf="editable">
        Удалить
      </button>
    </div>
  </div>

  <br>

  <button class="app-button-primary person-contacts-group-add" (click)="addVkLink()" *ngIf="editable">
    Добавить
  </button>
</div>
