@import "~styles/index";

.person-contacts-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.person-contacts-group-title {
  color: @color-fill_text_basic;
  margin-bottom: 12px;
}

.person-contacts-group-add {
  width: 20%;
}

.app-person-contacts-row-info {
  .app-card-page-row-with-actions-info;

  width: 80%;
}

.app-person-contacts-row-info-name-column {
  width: 50%;
}

.app-person-contacts-row-info-value-column {
  width: 50%;
}

.app-person-contacts-row-actions {
  .app-card-page-row-with-actions-actions;

  width: 20%;
}

.app-person-contacts-row-actions-delete {
  width: 100%;
}
