<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div app-cabinet-menu class="page-left-menu" [cabinetId]="cabinet.id" [currentTab]="'TIMETABLE'"></div>

    <div class="page-content">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header" *ngIf="!!cabinet.id">
          Кабинет '{{cabinet.name}}'
        </h3>

        <br>

        <app-timetable [groups]="cabinetGroups" [lessons]="cabinetLessons" [showFilters]="false"></app-timetable>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>
</div>
