<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-cabinet-menu [cabinetId]="cabinet.id" [currentTab]="'INFORMATION'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 *ngIf="!!cabinet.id">
          Кабинет '{{cabinet.name}}'
        </h3>

        <h3 *ngIf="!cabinet.id">
          Добавление кабинета
        </h3>

        <br>

        <form>
          <div class="form-group">
            <label for="name">Название:</label>
            <input id="name" name="name" class="form-control" [(ngModel)]="cabinet.name"
                   required minlength="1" #name="ngModel"/>
          </div>

          <div class="form-group">
            <label for="cabinetType">Тип кабинета:</label>
            <select id="cabinetType" class="form-control" name="cabinetType" [(ngModel)]="cabinet.cabinetType"
                    required minlength="1" #cabinetType="ngModel">
              <option *ngFor="let cabinetType of cabinetTypes" value="{{cabinetType}}">
                {{getCabinetTypeTranslation(cabinetType)}}
              </option>
            </select>
          </div>

          <br>
        </form>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button [disabled]="loadingInProgress || actionInProgress || !cabinet.id"
            class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>

    <button [disabled]="loadingInProgress || actionInProgress"
            class="btn btn-primary pull-right" (click)="save()">
      Сохранить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>
  </div>
</div>
