<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-cabinet-menu [cabinetId]="cabinet.id" [currentTab]="'INFORMATION'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header" *ngIf="!!cabinet.id">
          Кабинет '{{cabinet.name}}'
        </h3>

        <h3 class="app-header" *ngIf="!cabinet.id">
          Добавление кабинета
        </h3>

        <br>

        <form>
          <div app-form-text-input-control class="form-group"
               [name]="'name'"
               [label]="'Название'"
               [placeholder]="'Введите название'"
               [valid]="!!cabinet.name"
               [value]="cabinet.name"
               [editable]="true"
               (onChange)="cabinet.name = $event"></div>

          <div app-form-select-control class="form-group"
               [name]="'educationLevel'"
               [label]="'Уровень подготовки'"
               [valid]="cabinet.cabinetType !== 'UNKNOWN'"
               [valueString]="cabinet.cabinetType"
               [items]="cabinetTypes"
               (onChangeString)="cabinet.cabinetType = $event"></div>
        </form>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button [disabled]="loadingInProgress || actionInProgress || !cabinet.id"
            class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>

    <button [disabled]="loadingInProgress || actionInProgress"
            class="btn btn-primary pull-right" (click)="save()">
      Сохранить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>
  </div>
</div>
