<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-student-menu [studentLogin]="student.login" [currentTab]="'ATTENDANCE'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          {{student.person.name}}. Посещаемость
        </div>

        <br>

        <app-student-card-attendance-row
          *ngFor="let attendance of attendances"
          [attendance]="attendance"
          (attendanceDeleted)="onAttendanceDeleted($event)">
        </app-student-card-attendance-row>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>
</div>
