<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'ATTENDANCE'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          {{student.name}}. Посещаемость
        </div>

        <br>

        <app-student-card-attendance-row
          *ngFor="let attendance of attendances"
          [attendance]="attendance"
          (attendanceDeleted)="onAttendanceDeleted($event)">
        </app-student-card-attendance-row>
      </ng-container>

      <app-student-attendance-add-popup
        [studentId]="student.id"
        (attendanceAdded)="onAttendanceAdded($event)">
      </app-student-attendance-add-popup>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button class="app-card-page-footer-button app-button-primary">
      Добавить посещаемость
    </button>
  </div>
</div>
