<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'ATTENDANCE'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header" *ngIf="!!student.id">
          {{student.name}} - Посещаемость
        </h3>

        <br>

        <app-student-card-attendance-row
          *ngFor="let attendance of attendances"
          class="app-list-row"
          [attendance]="attendance"
          (attendanceDeleted)="onAttendanceDeleted($event)">
        </app-student-card-attendance-row>
      </ng-container>

      <app-student-attendance-add-popup
        [studentId]="student.id"
        (attendanceAdded)="onAttendanceAdded($event)">
      </app-student-attendance-add-popup>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#studentAttendance">
      Добавить посещаемость
    </button>
  </div>
</div>
