@import "~styles/abstract/index";

.app-text-input {
  font-size: 14px;
  font-family: hogwartsRegular;
  padding: 9px 10px;
  height: 40px !important;

  background: @color-fill_basic_subtle;
  -webkit-box-shadow: 0 0 0 1000px @color-fill_basic_subtle inset;

  color: @color-fill_text_basic;
  -webkit-text-fill-color: @color-fill_text_basic;

  border: none;
}

.app-text-input:focus {
  border: 1px solid @color-stroke_accent_strong;
}

.app-input-icon {
  font-size: 14px;
  height: 40px !important;
  background: @color-fill_contrast_subtle;
  color: @color-fill_text_basic;
}
