@import "fonts.less";
@import "colors.less";

.app-select {
  font-size: 14px;
  font-family: hogwartsRegular;
  padding: 9px 10px;
  height: 40px !important;
}

.app-text-input {
  font-size: 14px;
  font-family: hogwartsRegular;
  padding: 9px 10px;
  height: 40px !important;
}

.app-input-icon {
  font-size: 14px;
  height: 40px !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: @color-primary-light-1;
  font-family: hogwartsRegular;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
  background-color: @color-primary-light-3;
  border: 1px solid @color-primary-light-1;
  color: @color-white;
  font-family: hogwartsRegular;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: @color-white;
  border: 1px solid @color-primary-normal-1;
  color: @color-primary-normal-1;
  font-family: hogwartsRegular;
}
