.student-status-label {
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 20px;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}

.student-status-label-request {
  .student-status-label;

  background-color: #cc8800;
  color: #ffffff;
}

.student-status-label-test-assigned {
  .student-status-label;

  background-color: #009955;
  color: #ffffff;
}

.student-status-label-free-lesson-assigned {
  .student-status-label;

  background-color: #559900;
  color: #ffffff;
}

.student-status-label-group-assigned {
  .student-status-label;

  background-color: #00aa00;
  color: #ffffff;
}

.student-status-label-temporarily-stopped {
  .student-status-label;

  background-color: #6f6e6f;
  color: #ffffff;
}

.student-status-label-left {
  .student-status-label;

  background-color: #aa0000;
  color: #ffffff;
}
