<div class="header">
  <div class="header-title-section">
    <span>Hogwarts Admin v1.17.0</span>
  </div>

  <div class="header-body-section">
    <div (click)="navigate('/students')"
         [class.menu-element-active]="activeSection === 'STUDENTS'"
         [class.menu-element-inactive]="activeSection !== 'STUDENTS'">

      <i class="fa fa-user menu-element-icon" aria-hidden="true"></i>

      Студенты
    </div>

    <div (click)="navigate('/groups')"
         [class.menu-element-active]="activeSection === 'GROUPS'"
         [class.menu-element-inactive]="activeSection !== 'GROUPS'">

      <i class="fa fa-users menu-element-icon" aria-hidden="true"></i>

      Группы
    </div>

    <div (click)="navigate('/teachers')"
         [class.menu-element-active]="activeSection === 'TEACHERS'"
         [class.menu-element-inactive]="activeSection !== 'TEACHERS'">

      <i class="fa fa-graduation-cap menu-element-icon" aria-hidden="true"></i>

      Учителя
    </div>

    <div (click)="navigate('/staff-members')"
         [class.menu-element-active]="activeSection === 'STAFF_MEMBERS'"
         [class.menu-element-inactive]="activeSection !== 'STAFF_MEMBERS'">

      <i class="fa fa-graduation-cap menu-element-icon" aria-hidden="true"></i>

      Сотрудники
    </div>

    <div (click)="navigate('/cabinets')"
         [class.menu-element-active]="activeSection === 'CABINETS'"
         [class.menu-element-inactive]="activeSection !== 'CABINETS'">

      <i class="fa fa-building menu-element-icon" aria-hidden="true"></i>

      Кабинеты
    </div>
  </div>

  <div class="header-logout-section">
    <button class="header-logout-button app-button btn btn-default pull-right" (click)="logOff()">Выйти</button>
  </div>
</div>
