@import "../../../styles/colors.less";

.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  background: @color-fill_contrast_base;
}

.header-title-section {
  color: @color-fill_text_inverse;
  width: 15%;
  font-family: hogwartsBold;
}

.header-body-section {
  width: 70%;
}

.header-logout-section {
  width: 15%;
}

.header-login-icon {
  color: @color-fill_text_inverse;
  line-height: 50px;
  margin-right: 10px;
}

.header-login {
  color: @color-fill_text_inverse;
  margin-right: 20px;
}

.header-logout-button {
  margin-top: 5px;
}

.menu-element {
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  display: inline-block;
}

.menu-element-inactive {
  .menu-element;

  font-family: hogwartsRegular;
  color: @color-fill_text_basic;
}

.menu-element-inactive:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu-element-active {
  .menu-element;

  font-family: hogwartsBold;
  opacity: 1;
  border-bottom: 2px solid @color-fill_text_inverse_accent;
  color: @color-fill_text_inverse_accent;
}

.menu-element-icon {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
