@import '../../../../../../styles.less';

.group-students-table-header-container {
  .table-header-container;

  margin-right: 0;
  padding-right: 0;
}

.group-students-table-content-container {
  .table-content-container;

  min-height: auto;
  max-height: none;
  overflow-y: hidden;
  margin: 0 0 0 0;
  border-right: 1px solid @color-gray-4;
}

.group-lesson-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  padding: 10px 20px;
  background: @color-fill_basic_subtle;
  color: @color-fill_text_basic;
}

.group-lesson-row-day-of-week {
  width: 20%;
  color: @color-fill_text_basic;
}

.group-lesson-row-time {
  width: 20%;
  color: @color-fill_text_basic;
}

.group-lesson-row-teacher {
  width: 30%;
  color: @color-fill_text_basic;
}

.group-lesson-row-status {
  width: 30%;
  color: @color-fill_text_basic_light;
}
