<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-group-menu [groupId]="group.id" [currentTab]="'INFORMATION'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          Информация
        </div>

        <br>

        <app-form-input-control
          [label]="'Цвет группы'"
          [valid]="!!group.color">
          <app-color-picker-control
            [value]="group.color"
            (onChange)="group.color = $event">
          </app-color-picker-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Старший преподаватель'"
          [valid]="!!group.bookName && group.bookName.indexOf('?') === -1">
          <app-select-staff-member-control
            [items]="staffMembers"
            [staffMemberLogin]="group.headTeacherLogin"
            (onChange)="group.headTeacherLogin = $event">
          </app-select-staff-member-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Название учебника'"
          [valid]="!!group.bookName && group.bookName.indexOf('?') === -1">
          <app-text-control
            [value]="group.bookName"
            [placeholder]="'Название учебника'"
            (onChange)="group.bookName = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Тип группы'"
          [valid]="!!group.type">
          <app-select-group-type-control
            [value]="group.type"
            (onChange)="group.type = $event">
          </app-select-group-type-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Уровень'"
          [valid]="!!group.educationLevel">
          <app-select-education-level-control
            [value]="group.educationLevel"
            (onChange)="group.educationLevel = $event">
          </app-select-education-level-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Возраст'"
          [valid]="!!group.educationLevel">
          <app-select-age-control
            [value]="group.age"
            (onChange)="group.age = $event">
          </app-select-age-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Кабинет'"
          [valid]="!!group.educationLevel">
          <app-select-cabinet-control
            [items]="cabinets"
            [cabinetId]="group.cabinetId"
            (onChange)="group.cabinetId = $event">
          </app-select-cabinet-control>
        </app-form-input-control>

        <br>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <div class="app-card-page-title">Занятия</div>

          <div class="app-card-page-link" (click)="toggleInactiveLessons()">
            <ng-container *ngIf="!showInactiveLessons">
              Показывать неактивные
            </ng-container>
            <ng-container *ngIf="showInactiveLessons">
              Скрывать неактивные
            </ng-container>
          </div>
        </div>

        <br>

        <div class="app-card-page-text" *ngIf="lessons.length === 0">
          Занятия не назначены
        </div>

        <app-group-card-information-lesson-row
          *ngFor="let lesson of lessons"
          [groupLessonInfo]="lesson"
          [staffMembers]="staffMembers"
          (editLesson)="editLesson($event)">
        </app-group-card-information-lesson-row>

        <br>

        <button class="app-button-primary app-group-card-information-add-group" (click)="addLesson()">
          Добавить занятие
        </button>

        <br>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button
      [disabled]="loadingInProgress || loadingInProgress || !group.id"
      class="app-button-danger app-card-page-footer-button"
      (click)="delete()">
      Удалить
    </button>

    <button
      [disabled]="loadingInProgress || loadingInProgress"
      class="app-button-primary app-card-page-footer-button" (click)="save()">
      Сохранить
    </button>
  </div>
</div>

<app-group-card-information-assign-lesson-popup
  [cabinets]="cabinets"
  [staffMembers]="staffMembers">
</app-group-card-information-assign-lesson-popup>
