<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-group-menu [groupId]="group.id" [currentTab]="'STUDENTS'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header">
          Группа '{{group.id}}'
        </h3>

        <br>

        <div *ngFor="let student of students" class="app-clickable-row" [class.app-clickable-row-inactive]="!isStudentActive(student)" (click)="openStudent(student.id)">
          {{student.name}}
        </div>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button class="btn btn-primary pull-right" (click)="addNewStudent()">
      Добавить ученика
    </button>
  </div>
</div>
