<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-group-menu [groupId]="group.id" [currentTab]="'STUDENTS'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          Студенты группы
        </div>

        <br>

        <div *ngFor="let student of students" class="app-card-page-row-with-actions">
          <div class="app-group-card-students-row-info">
            <i class="fa fa-exclamation-circle"
               [class.app-group-card-students-row-info-status-sign-active]="isStudentActive(student)"
               [class.app-group-card-students-row-info-status-sign-inactive]="!isStudentActive(student)"
               [class.fa-thumbs-up]="isStudentActive(student)"
               [class.fa-thumbs-down]="!isStudentActive(student)"
               aria-hidden="true"></i>

            <div class="app-card-page-text">
              {{student.name}}
            </div>
          </div>

          <div class="app-group-card-students-row-actions">
            <div class="app-button-secondary" (click)="navigationService.students().login('').information().go()">
              Перейти
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button class="app-button-primary pull-right" (click)="this.navigationService.students().newForGroup(this.group.id).go()">
      Добавить ученика
    </button>
  </div>
</div>
