@import "~styles/index";

.app-group-card-students-row-info {
  .app-card-page-row-with-actions-info;

  width: 80%;
}

.app-group-card-students-row-info-status-sign {
  margin-right: @app-size-1;
}

.app-group-card-students-row-info-status-sign-active {
  .app-group-card-students-row-info-status-sign;

  color: @color-fill_text_basic_positive;
}

.app-group-card-students-row-info-status-sign-inactive {
  .app-group-card-students-row-info-status-sign;

  color: @color-fill_text_basic_light;
}

.app-group-card-students-row-actions {
  .app-card-page-row-with-actions-actions;

  width: 20%;
}
