<div class="page">
  <app-header [activeSection]="'EVENTS'"></app-header>

  <div class="list-header-container">
    <div class="list-header">
      <div class="events-status-column">
        <div class="list-header-label">
          Статус
        </div>
      </div>

      <div class="events-type-column">
        <div class="list-header-label">
          Тип
        </div>
      </div>

      <div class="events-cabinet-column">
        <div class="list-header-label">
          Кабинет
        </div>
      </div>

      <div class="events-time-column">
        <div class="list-header-label">
          Дата и время
        </div>
      </div>

      <div class="events-participants-column">
        <div class="list-header-label">
          Участники
        </div>
      </div>
    </div>

    <div class="events-add-new">
      <button class="btn btn-primary pull-right" (click)="addNewEvent()">
        Добавить
      </button>
    </div>
  </div>

  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <fa name="spinner" class="loading-sign" animation="spin"></fa>
    </div>

    <div *ngFor="let event of allEvents" class="list-row-clickable" (click)="openEvent(event.id)">
      <div class="list-row-item events-status-column">
        <div [class.events-status-pending-label]="getStatus(event) === 'PENDING'"
             [class.events-status-on-going-label]="getStatus(event) === 'ON_GOING'"
             [class.events-status-finished-label]="getStatus(event) === 'FINISHED'">
          {{getStatus(event) | translate}}
        </div>
      </div>
      <div class="list-row-item events-type-column">
        <div class="events-type-speaking-club-label">
          {{event.eventType | translate}}
        </div>
      </div>
      <div class="list-row-item events-cabinet-column">
        {{getCabinet(event.cabinetId).name}}
      </div>
      <div class="list-row-item events-time-column">
        {{event.date | date: 'dd.MM.yyyy'}} : {{event.startTime | translate}} - {{event.finishTime | translate}}
      </div>
      <div class="list-row-item events-participants-item">
        <div [class.event-participants-active-mark]="getParticipantsAmount(event, 'REQUEST') !== 0"
             [class.event-participants-inactive-mark]="getParticipantsAmount(event, 'REQUEST') === 0">
          {{getParticipantsAmount(event, 'REQUEST')}}
        </div>

        <div [class.event-participants-active-mark]="getParticipantsAmount(event, 'EARLY_CONFIRMATION') !== 0"
             [class.event-participants-inactive-mark]="getParticipantsAmount(event, 'EARLY_CONFIRMATION') === 0"
             class="horizontal-item">
          {{getParticipantsAmount(event, 'EARLY_CONFIRMATION')}}
        </div>

        <div [class.event-participants-active-mark]="getParticipantsAmount(event, 'LATE_CONFIRMATION') !== 0"
             [class.event-participants-inactive-mark]="getParticipantsAmount(event, 'LATE_CONFIRMATION') === 0"
             class="horizontal-item">
          {{getParticipantsAmount(event, 'LATE_CONFIRMATION')}}
        </div>
      </div>
    </div>
  </div>
</div>
