<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-group-menu [groupId]="group.id" [currentTab]="'TIMETABLE'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <app-timetable [groups]="[group]" [lessons]="groupLessons" [showFilters]="false"></app-timetable>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
      <app-week-selector (onWeekChanged)="onWeekChanged($event)"></app-week-selector>
    </div>
  </div>
</div>
