<app-modal-template [modalStatus]="modalStatus">
  <div class="app-modal-content" *ngIf="!!newStudentPayment">
    <div class="app-modal-title">
      Добавление группы
    </div>

    <div class="app-modal-body">
      <app-form-input-control
        [label]="'Сумма'"
        [valid]="true">
        <app-text-control (onChange)="onAmountChange($event)">
        </app-text-control>
      </app-form-input-control>

      <br>

      <app-form-input-control
        [label]="'Принял оплату'"
        [valid]="true">
        <app-select-staff-member-control
          [items]="staffMembers"
          (onChange)="newStudentPayment.info.staffMemberLogin = $event">
        </app-select-staff-member-control>
      </app-form-input-control>
    </div>

    <div class="app-modal-footer">
      <button class="app-button-primary app-modal-footer-buttons" (click)="addPayment()">
        Сохранить
      </button>

      <button class="app-button-secondary app-modal-footer-buttons" (click)="cancel()">
        Отмена
      </button>
    </div>
  </div>
</app-modal-template>
