<div class="page">
  <app-header [activeSection]="'CABINETS'"></app-header>

  <div class="list-header-container">
    <div class="list-header">
      <div app-search-text-input-control class="cabinets-list-header-search"
           [placeholder]="'Название'"
           (onChange)="onSearchChange($event)"></div>
    </div>

    <div class="cabinets-list-header-add-new">
      <button class="btn btn-primary pull-right" (click)="openNewCabinetPage()">
        Добавить
      </button>
    </div>
  </div>


  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <fa name="spinner" class="loading-sign" animation="spin"></fa>
    </div>

    <div *ngFor="let cabinet of cabinets" class="list-row-clickable" (click)="openCabinetPage(cabinet.id)">
      <div class="list-row-item">{{cabinet.name}}</div>
    </div>
  </div>
</div>
