@import "~styles/index";

.login-page {
  .page;

  background: @color-fill_basic_base;
}

.login-form {
  display: flex;
  flex-direction: column;

  width: 50%;

  padding: 20px;
  margin-top: 10%;
  margin-left: 25%;
}

.login-error {
  background-color: @color-status_error_medium;
  color: @color-fill_text_basic;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.login-error-link {
  color: @color-fill_text_basic_action_link !important;
}
