<div class="login-page">
  <div class="login-form">
    <form>
      <app-form-input-control
        [label]="'Логин'">
        <app-text-control
          [value]="login"
          [placeholder]="'Логин'"
          (onChange)="login = $event">
        </app-text-control>
      </app-form-input-control>

      <br>

      <app-form-input-control
        [label]="'Пароль'">
        <app-text-control
          [value]="password"
          [placeholder]="'Пароль'"
          (onChange)="password = $event">
        </app-text-control>
      </app-form-input-control>

      <br>

      <button
        class="app-button-primary"
        [disabled]="actionInProgress"
        (click)="runLogin()">
        Войти
      </button>

      <br>
      <br>

      <div *ngIf="loginFailed" class="login-error">
        Логин и пароль неправильные. <a class="login-error-link" href="https://vk.com/serge_budnik">Забыли пароль?</a>
      </div>
    </form>
  </div>
</div>
