<div class="login-page">
  <div class="login-form">
    <form>
      <div class="form-group">
        <label class="app-label" for="login">Логин:</label>
        <input id="login" name="login" class="form-control app-text-input" [(ngModel)]="login">
      </div>

      <div class="form-group">
        <label class="app-label" for="password">Пароль:</label>
        <input id="password" name="password" type="password" class="form-control app-text-input" [(ngModel)]="password">
      </div>

      <br>

      <button class="btn btn-primary h-full" (click)="runLogin()">
        Войти
        <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
      </button>
    </form>
  </div>
</div>
