<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-staff-member-menu [isNew]="false" [staffMemberLogin]="teacher.login" [currentTab]="'TIMETABLE'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <app-timetable [groups]="teacherGroups" [lessons]="teacherLessons" [showFilters]="false"></app-timetable>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
      <app-week-selector (onWeekChanged)="onWeekChanged($event)"></app-week-selector>
    </div>
  </div>
</div>
