<div class="page">
  <app-header [activeSection]="'STUDENTS'"></app-header>

  <div class="row">
    <div class="col-md-6">
      <div style="width: 100%; height: 50%; display: block;">
        <canvas baseChart width="100" height="50"
                [datasets]="getChartData()"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
</div>
