<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-staff-member-menu [isNew]="isNew" [staffMemberLogin]="staffMember.login" [currentTab]="'INFORMATION'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title" *ngIf="!isNew">
          Сотрудник '{{staffMember.person.name}}'
        </div>

        <div class="app-card-page-title" *ngIf="isNew">
          Добавление cотрудника
        </div>

        <br>

        <app-form-input-control
          [label]="'Логин'"
          [valid]="!!staffMember.login">
          <app-text-control
            [value]="staffMember.login"
            [placeholder]="'Введите логин'"
            (onChange)="staffMember.login = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Имя'"
          [valid]="!!staffMember.person.name && staffMember.person.name.indexOf('?') === -1">
          <app-text-control
            [value]="staffMember.person.name"
            [placeholder]="'Введите имя'"
            (onChange)="staffMember.person.name = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Зарплата'"
          [valid]="!!staffMember.salaryIn30m">
          <app-text-control
            [value]="staffMember.salaryIn30m.toString()"
            [placeholder]="'Введите зарплату'"
            (onChange)="onSalaryIn30MChanged($event)">
          </app-text-control>
        </app-form-input-control>

        <br>

        <div class="app-card-page-title">
          Контакты:
        </div>

        <br>

        <div class="form-group">
          <app-person-contacts
            [personContacts]="staffMember.person.contacts"
            (onPersonContactsChanged)="staffMember.person.contacts = $event">
          </app-person-contacts>
        </div>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button [disabled]="loadingInProgress && !isNew" class="app-button-danger app-card-page-footer-button" (click)="delete()">
      Удалить
    </button>

    <button [disabled]="loadingInProgress" class="app-button-primary app-card-page-footer-button" (click)="save()">
      Сохранить
    </button>
  </div>
</div>
