<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-student-menu [studentLogin]="student.login" [currentTab]="'INFORMATION'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div class="app-card-page-title">
          Информация
        </div>

        <br>

        <app-form-input-control
          [label]="'Логин'"
          [valid]="!!student.login">
          <app-text-control
            [placeholder]="'Логин'"
            [value]="student.login"
            (onChange)="student.login = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Имя'"
          [valid]="!!student.person.name && student.person.name.indexOf('?') === -1">
          <app-text-control
            [placeholder]="'Имя'"
            [value]="student.person.name"
            (onChange)="student.person.name = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Менеджер'"
          [valid]="!!student.managerLogin">
          <app-select-staff-member-control
            [items]="allStaffMembers"
            [staffMemberLogin]="student.managerLogin"
            (onChange)="student.managerLogin = $event">
          </app-select-staff-member-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Уровень подготовки'"
          [valid]="student.educationInfo.level !== 'UNKNOWN'">
          <app-select-education-level-control
            [value]="student.educationInfo.level"
            (onChange)="student.educationInfo.level = $event">
          </app-select-education-level-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Возраст'"
          [valid]="student.educationInfo.age !== 'UNKNOWN'">
          <app-select-age-control
            [value]="student.educationInfo.age"
            (onChange)="student.educationInfo.age = $event">
          </app-select-age-control>
        </app-form-input-control>

        <br>

        <div class="app-card-page-title">
          Контакты
        </div>

        <br>

        <app-person-contacts
          [personContacts]="student.person.contacts"
          (onPersonContactsChanged)="student.person.contacts = $event">
        </app-person-contacts>

<!--        <br>-->

<!--        <app-form-input-control-->
<!--          *ngIf="!!student.id"-->
<!--          [label]="'Статус'"-->
<!--          [valid]="true">-->
<!--          <div class="student-status-container">-->
<!--            <div class="student-status" app-student-status [studentStatusType]="student.statusType"></div>-->

<!--            <button class="app-button-primary student-status-action" (click)="goToStatus()">Изменить статус</button>-->
<!--          </div>-->
<!--        </app-form-input-control>-->

        <br>

        <div class="app-card-page-title">
          Группы
        </div>

        <br>

        <div class="app-card-page-text" *ngIf="student.studentGroups.length === 0">
          Студент не назначен в группу
        </div>

        <app-student-card-information-group-row
          *ngFor="let studentGroup of student.studentGroups; let i = index"
          [studentGroupAndIndex]="buildStudentGroupAndIndex(studentGroup, i)"
          [allStudents]="allStudents"
          [allGroups]="allGroups"
          [allStaffMembers]="allStaffMembers"
          (onGroupSaved)="onGroupSaved($event)"
          (onGroupDeleted)="onGroupDeleted($event)">
        </app-student-card-information-group-row>

        <br>

        <button class="app-button-secondary" (click)="addNewGroup()">
          Добавить группу
        </button>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
    </div>
  </div>

  <div class="app-card-page-footer">
    <button
      [disabled]="loadingInProgress"
      class="app-button-danger app-card-page-footer-button"
      (click)="delete()">
      Удалить
    </button>

    <button
      [disabled]="loadingInProgress"
      class="app-button-primary app-card-page-footer-button"
      (click)="save()">
      Сохранить
    </button>
  </div>
</div>

<app-student-card-information-assign-group-popup
  [groups]="getMatchingGroups()"
  [staffMembers]="allStaffMembers"
  [students]="allStudents">
</app-student-card-information-assign-group-popup>
