@import "~styles/index";

/**
 * VK link
 */

.student-vkLink-container {
  display: flex;
  flex-direction: row;
}

.student-vkLink {
  width: 80%;
  margin-right: 1%;
}

.student-vkLink-action {
  width: 19%;
}

/**
 * Group
 */

.student-group-container {
  display: flex;
  flex-direction: row;
}

.student-group {
  width: 40%;
  margin-bottom: 0;
}

.student-group-info {
  width: 20%;
  margin-left: 1%;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
}

.student-group-action {
  width: 19%;
  margin-left: 1%;
}

.student-group-link {
  line-height: @app-size-6;
  color: @color-primary-normal-1;
  cursor: pointer;
}

/**
 * Status
 */

.student-status-container {
  display: flex;
  flex-direction: row;
}

.student-status {
  width: 80%;
}

.student-status-action {
  width: 19%;
  margin-left: 1%;
}
