<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'INFORMATION'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 *ngIf="!!student.id">
          Редактирование информации об ученике '{{student.name}}'
        </h3>

        <h3 *ngIf="!student.id">
          Добавление информации об ученика
        </h3>

        <br>

        <form>
          <div app-form-text-input-control class="form-group"
               [name]="'name'"
               [label]="'Имя'"
               [placeholder]="'Введите имя'"
               [valid]="!!student.name && student.name.indexOf('?') === -1"
               [value]="student.name"
               (onChange)="student.name = $event"></div>

          <div app-form-tag-control class="form-group"
               [name]="'telephones'"
               [label]="'Телефоны'"
               [placeholder]="'Введите телефон'"
               [valid]="student.phones.length !== 0 || student.emails.length !== 0"
               [value]="student.phones"
               (onChange)="student.phones = $event"></div>

          <div app-form-tag-control class="form-group"
               [name]="'emails'"
               [label]="'Email'"
               [placeholder]="'Введите email'"
               [valid]="student.phones.length !== 0 || student.emails.length !== 0"
               [value]="student.emails"
               (onChange)="student.emails = $event"></div>

          <div app-form-select-control class="form-group"
               [name]="'educationLevel'"
               [label]="'Уровень подготовки'"
               [valid]="student.educationLevel !== 'UNKNOWN'"
               [valueRef]="educationLevelReference"
               [items]="getEducationLevelItems()"
               (onChange)="onEducationLevelChange($event)"></div>

          <div app-form-select-control class="form-group"
               [name]="'referralSource'"
               [label]="'Откуда узнал'"
               [valid]="student.referralSource !== 'UNKNOWN'"
               [valueRef]="referralSourceReference"
               [items]="getReferralSourceItems()"
               (onChange)="onReferralSourceChange($event)"></div>

          <div app-form-select-control class="form-group"
               [name]="'age'"
               [label]="'Возраст'"
               [valid]="student.age !== 'UNKNOWN'"
               [valueRef]="ageReference"
               [items]="getAgeItems()"
               (onChange)="onAgeChange($event)"></div>

          <div app-form-select-control class="form-group"
               [name]="'status'"
               [label]="'Статус'"
               [valid]="student.statusType !== 'UNKNOWN'"
               [valueRef]="statusReference"
               [items]="getStatusItems()"
               (onChange)="onStatusTypeChange($event)"></div>

          <div class="form-group">
            <label class="h-full">
              <app-field-validation-sign [valid]="true"></app-field-validation-sign>

              Группы:
            </label>

            <div *ngFor="let groupId of student.groupIds; let i = index" style="margin-bottom: 5px" class="student-group-container">
              <select id="{{'group_' + groupId}}" class="form-control" style="width: 80%" name="{{'group_' + groupId}}"
                      [(ngModel)]="student.groupIds[i]"
                      [disabled]="suitableGroups.length === 0">
                <option *ngFor="let suitableGroup of suitableGroups" value="{{suitableGroup.id}}">
                  {{suitableGroup.name}}
                </option>
              </select>

              <span *ngIf="!!groupId" style="width: 20%" class="pull-right">
                <span class="student-group-link pull-right horizontal-item"
                   (click)="removeGroup(i)">Удалить</span>

                <a class="student-group-link pull-right horizontal-item"
                   href="{{'#/groups/' + groupId + '/information'}}">Перейти</a>
              </span>
            </div>
          </div>

          <button class="btn btn-secondary" (click)="addGroup()">Добавить группу</button>

          <br>
        </form>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button [disabled]="loadingInProgress || actionInProgress || !student.id"
            class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign" animation="spin"></fa>
    </button>

    <button [disabled]="loadingInProgress || actionInProgress"
            class="btn btn-primary pull-right" (click)="save()">
      Сохранить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign" animation="spin"></fa>
    </button>
  </div>
</div>
