@import "~styles/index";

.student-status-label-request {
  .student-status-label;

  background-color: #cc8800;
  color: #ffffff;
}

.student-status-label-test {
  .student-status-label;

  background-color: #009955;
  color: #ffffff;
}

.student-status-label-free-lesson {
  .student-status-label;

  background-color: #55aa00;
  color: #ffffff;
}

.student-status-label-awaiting-group {
  .student-status-label;

  background-color: #558855;
  color: #ffffff;
}

.student-status-label-studying {
  .student-status-label;

  background-color: @color-status_success_strong;
  color: #ffffff;
}

.student-status-label-stopped {
  .student-status-label;

  background-color: #999999;
  color: #ffffff;
}

.student-status-label-left {
  .student-status-label;

  background-color: #aa0000;
  color: #ffffff;
}
