<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-group-menu [groupId]="group.id" [currentTab]="'INFORMATION'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header" *ngIf="!!group.id">
          Группа '{{group.id}}'
        </h3>

        <h3 class="app-header" *ngIf="!group.id">
          Добавление группы
        </h3>

        <br>

        <form>
          <h5 class="app-header">Информация</h5>

          <br>

          <div class="form-group">
            <label for="color" style="color: #ffffff">Цвет:</label>
            <input class="form-control" id="color" [(colorPicker)]="group.color" [style.background]="group.color"/>
          </div>

          <div app-form-select-control class="form-group"
               [type]="'NUMERIC'"
               [name]="'manager'"
               [label]="'Старший преподаватель'"
               [valid]="!!group.managerId"
               [valueNumber]="group.managerId"
               [items]="getTeachersItems()"
               [hasEmpty]="true"
               (onChangeNumber)="group.managerId = $event"></div>

          <div app-form-text-input-control class="form-group"
               [name]="'bookName'"
               [label]="'Название учебника'"
               [placeholder]="'Введите название учебника'"
               [valid]="!!group.bookName && group.bookName.indexOf('?') === -1"
               [value]="group.bookName"
               [editable]="true"
               (onChange)="group.bookName = $event"></div>

          <div app-form-select-control class="form-group"
               [name]="'groupType'"
               [label]="'Тип'"
               [valid]="!!group.type"
               [valueString]="group.type"
               [items]="groupTypes"
               [hasEmpty]="true"
               (onChangeString)="group.type = $event"></div>

          <div app-form-select-control class="form-group"
               [name]="'educationLevels'"
               [label]="'Уровень подготовки'"
               [valid]="!!group.educationLevel"
               [valueString]="group.educationLevel"
               [items]="educationLevels"
               [hasEmpty]="true"
               (onChangeString)="group.educationLevel = $event"></div>

          <div app-form-select-control class="form-group"
               [name]="'ages'"
               [label]="'Возрастная категория'"
               [valid]="!!group.age"
               [valueString]="group.age"
               [items]="ages"
               (onChangeString)="group.age = $event"></div>

          <div app-form-select-control class="form-group"
               [type]="'NUMERIC'"
               [name]="'cabinets'"
               [label]="'Кабинет'"
               [valid]="!!group.cabinetId"
               [valueNumber]="group.cabinetId"
               [items]="getCabinetsItems()"
               [hasEmpty]="true"
               (onChangeNumber)="group.cabinetId = $event"></div>

          <br>

          <h5 class="app-header">Занятия:</h5>

          <div *ngIf="group.lessons.length === 0">
            <br>

            Занятия не назначены

            <br>
            <br>
          </div>

          <br>

          <div *ngFor="let lesson of group.lessons; let i = index;" class="group-lesson-row" (click)="setExistingModalLesson(lesson, i)" data-toggle="modal" data-target="#groupLessonModal">
            <div class="group-lesson-row-day-of-week">
              {{getDayOfWeekTranslation(lesson.day)}}
            </div>
            <div class="group-lesson-row-time">
              {{getTimeTranslation(lesson.startTime)}} - {{getTimeTranslation(lesson.finishTime)}}
            </div>
            <div class="group-lesson-row-teacher">
              {{getTeacher(lesson.teacherId).name}}
            </div>
            <ng-container>
              <div class="group-lesson-row-status" *ngIf="!lesson.id">
              </div>
              <div class="group-lesson-row-status" *ngIf="!!lesson.id && !!lesson.creationTime && !lesson.deactivationTime">
                с {{lesson.creationTime | date: 'dd.MM.yyyy'}}
              </div>
              <div class="group-lesson-row-status" *ngIf="!!lesson.id && !!lesson.creationTime && !!lesson.deactivationTime">
                с {{lesson.creationTime | date: 'dd.MM.yyyy'}} по {{lesson.deactivationTime | date: 'dd.MM.yyyy'}}
              </div>
            </ng-container>
          </div>

          <br>

          <button class="btn btn-primary" data-toggle="modal" data-target="#groupLessonModal" (click)="setNewModalLesson()">
            Добавить занятие
          </button>

          <br>
        </form>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>

    <app-assign-lesson-popup [lessonInfo]="lessonInfo" (lessonInfoSaved)="onLessonInfoSaved($event)"></app-assign-lesson-popup>
  </div>

  <div class="footer">
    <button [disabled]="loadingInProgress || actionInProgress || !group.id"
            class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>

    <button [disabled]="loadingInProgress || actionInProgress"
            class="btn btn-primary pull-right" (click)="save()">
      Сохранить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>
  </div>
</div>
