@import '../../../../styles.less';

.group-students-table-header-container {
  .table-header-container;

  margin-right: 0;
  padding-right: 0;
}

.group-students-table-content-container {
  .table-content-container;

  min-height: auto;
  max-height: none;
  overflow-y: hidden;
  margin: 0 0 0 0;
  border-right: 1px solid @color-gray-4;
}

.group-lesson-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  padding: 10px 20px;
  background: @color-gray-2;
}
