<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-teacher-menu [teacherId]="teacher.id" [currentTab]="'INFORMATION'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header" *ngIf="!!teacher.id">
          Учитель '{{teacher.name}}'
        </h3>

        <h3 class="app-header" *ngIf="!teacher.id">
          Добавление учителя
        </h3>

        <br>

        <form>
          <div app-form-text-input-control class="form-group"
               [name]="'name'"
               [label]="'Имя'"
               [placeholder]="'Введите имя'"
               [valid]="!!teacher.name && teacher.name.indexOf('?') === -1"
               [value]="teacher.name"
               [editable]="true"
               (onChange)="teacher.name = $event"></div>

          <div app-form-text-input-control class="form-group"
               [name]="'login'"
               [label]="'Логин'"
               [placeholder]="'Введите логин'"
               [valid]="!!teacher.login && teacher.login.indexOf('?') === -1"
               [value]="teacher.login"
               [editable]="true"
               (onChange)="teacher.login = $event"></div>

          <div app-form-select-control class="form-group"
               [name]="'type'"
               [label]="'Тип'"
               [valid]="!!teacher.type"
               [valueString]="teacher.type"
               [items]="teacherTypes"
               (onChangeString)="teacher.type = $event"></div>

          <div app-form-tag-control class="form-group"
               [name]="'telephones'"
               [label]="'Телефоны'"
               [placeholder]="'Введите телефон'"
               [valid]="teacher.phones.length !== 0"
               [value]="teacher.phones"
               (onChange)="teacher.phones = $event"></div>

          <div app-form-tag-control class="form-group"
               [name]="'emails'"
               [label]="'Email-ы'"
               [placeholder]="'Введите email'"
               [valid]="teacher.emails.length !== 0"
               [value]="teacher.emails"
               (onChange)="teacher.emails = $event"></div>
        </form>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button [disabled]="loadingInProgress || actionInProgress || !teacher.id"
            class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign" animation="spin"></fa>
    </button>

    <button [disabled]="loadingInProgress || actionInProgress"
            class="btn btn-primary pull-right" (click)="save()">
      Сохранить
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign horizontal-item" animation="spin"></fa>
    </button>
  </div>
</div>
