<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-new-student-card-menu
         [login]="studentOnBoarding?.info?.login"
         [currentTab]="'INFORMATION'">
    </div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <div app-form-text-input-control class="form-group"
             [name]="'login'"
             [label]="'Логин'"
             [placeholder]="'Введите логин (только английские буквы)'"
             [valid]="!!studentOnBoarding.info.login"
             [value]="studentOnBoarding.info.login"
             [editable]="true"
             (onChange)="studentOnBoarding.info.login = $event"></div>

        <div app-form-text-input-control class="form-group"
             [name]="'name'"
             [label]="'Имя / Фамилия'"
             [placeholder]="'Введите имя и фамилию'"
             [valid]="!!studentOnBoarding.info.person.name"
             [value]="studentOnBoarding.info.person.name"
             [editable]="true"
             (onChange)="studentOnBoarding.info.person.name = $event"></div>

        <app-select-staff-member-control
          [items]="staffMembers"
          [staffMemberLogin]="studentOnBoarding.info.managerLogin"
          (onChange)="studentOnBoarding.info.managerLogin = $event">
        </app-select-staff-member-control>

        <app-select-education-level-control
          [value]="studentOnBoarding.info.educationInfo.level"
          (onChange)="studentOnBoarding.info.educationInfo.level = $event">
        </app-select-education-level-control>

        <app-select-age-control
          [value]="studentOnBoarding.info.educationInfo.age"
          (onChange)="studentOnBoarding.info.educationInfo.age = $event">
        </app-select-age-control>

        <app-person-contacts
          [personContacts]="studentOnBoarding.info.person.contacts"
          (onPersonContactsChanged)="studentOnBoarding.info.person.contacts = $event">
        </app-person-contacts>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu"></div>
  </div>

  <div class="app-card-page-footer">
    <button class="btn btn-danger pull-right horizontal-item" (click)="delete()">
      Удалить
    </button>

    <button class="btn btn-primary pull-right" (click)="save()">
      Сохранить
    </button>
  </div>
</div>
