<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div class="app-card-page-left-menu" app-new-student-card-menu
         [login]="studentOnBoarding?.info?.login"
         [currentTab]="'INFORMATION'">
    </div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <ng-container *ngIf="isCompleted()">
          <div class="app-card-page-title">
            Статус
          </div>

          <br>

          <app-form-input-control
            [label]="'Комментарий'"
            [valid]="true">
            <app-text-control
              [placeholder]="'Комментарий'"
              [value]="studentOnBoarding.result.comment"
              [editable]="false">
            </app-text-control>
          </app-form-input-control>

          <br>

          <app-form-input-control
            [label]="'Статус'"
            [valid]="true">
            <app-text-control
              [placeholder]="'Статус'"
              [value]="translationService.studentOnBoardingType().translate(studentOnBoarding.result.type)"
              [editable]="false">
            </app-text-control>
          </app-form-input-control>

          <br>
        </ng-container>

        <div class="app-card-page-title">
          Информация
        </div>

        <br>

        <app-form-input-control
          [label]="'Логин (только английские буквы)'"
          [valid]="!!studentOnBoarding.info.login">
          <app-text-control
            [placeholder]="'Логин'"
            [value]="studentOnBoarding.info.login"
            [editable]="!isCompleted()"
            (onChange)="studentOnBoarding.info.login = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Имя / Фамилия'"
          [valid]="!!studentOnBoarding.info.person.name">
          <app-text-control
            [placeholder]="'Имя / Фамилия'"
            [value]="studentOnBoarding.info.person.name"
            [editable]="!isCompleted()"
            (onChange)="studentOnBoarding.info.person.name = $event">
          </app-text-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Менеджер'"
          [valid]="!!studentOnBoarding.info.managerLogin">
          <app-select-staff-member-control
            [items]="staffMembers"
            [staffMemberLogin]="studentOnBoarding.info.managerLogin"
            [editable]="!isCompleted()"
            (onChange)="studentOnBoarding.info.managerLogin = $event">
          </app-select-staff-member-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Уровень подготовки'"
          [valid]="true">
          <app-select-education-level-control
            [value]="studentOnBoarding.info.educationInfo.level"
            [editable]="!isCompleted()"
            (onChange)="studentOnBoarding.info.educationInfo.level = $event">
          </app-select-education-level-control>
        </app-form-input-control>

        <br>

        <app-form-input-control
          [label]="'Возраст'"
          [valid]="true">
          <app-select-age-control
            [value]="studentOnBoarding.info.educationInfo.age"
            [editable]="!isCompleted()"
            (onChange)="studentOnBoarding.info.educationInfo.age = $event">
          </app-select-age-control>
        </app-form-input-control>

        <br>

        <div class="app-card-page-title">
          Контакты
        </div>

        <br>

        <app-person-contacts
          [personContacts]="studentOnBoarding.info.person.contacts"
          [editable]="!isCompleted()"
          (onPersonContactsChanged)="studentOnBoarding.info.person.contacts = $event">
        </app-person-contacts>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu"></div>
  </div>

  <div class="app-card-page-footer">
    <button
      [disabled]="loadingInProgress"
      class="app-button-danger app-card-page-footer-button"
      (click)="delete()">
      Удалить
    </button>

    <button
      *ngIf="!isCompleted()"
      [disabled]="loadingInProgress"
      class="app-button-secondary app-card-page-footer-button"
      (click)="complete()">
      Завершить
    </button>

    <button
      *ngIf="isCompleted()"
      [disabled]="loadingInProgress"
      class="app-button-secondary app-card-page-footer-button"
      (click)="migrateToStudents()">
      Перенести в студенты
    </button>

    <button
      *ngIf="!isCompleted()"
      [disabled]="loadingInProgress"
      class="app-button-primary app-card-page-footer-button"
      (click)="save()">
      Сохранить
    </button>
  </div>
</div>

<app-new-student-card-information-complete-popup>
</app-new-student-card-information-complete-popup>
