<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-group-menu [groupId]="group.id" [currentTab]="'TIMETABLE'"></div>

    <div class="page-content">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" class="loading-sign" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 class="app-header">
          Группа '{{group.id}}'
        </h3>

        <br>

        <app-timetable [groups]="[group]" [lessons]="group.lessons" [showFilters]="false"></app-timetable>
      </ng-container>
    </div>

    <div class="page-right-menu">
    </div>
  </div>
</div>
