<div class="app-list-page">
  <app-header [activeSection]="'CABINETS'"></app-header>

  <div class="app-list-header">
    <app-text-control class="app-cabinets-list-column-name"
      [icon]="'fa-search'"
      [placeholder]="'Название'"
      (onChange)="onSearchChange($event)">
    </app-text-control>

    <div class="app-cabinets-list-column-actions">
      <button class="app-button-primary pull-right" (click)="navigationService.cabinets().new().go()">
        Добавить
      </button>
    </div>
  </div>

  <div class="app-list-content">
    <div *ngFor="let cabinet of cabinets" class="list-row-clickable" (click)="navigationService.cabinets().id(cabinet.id).go()">
      <div class="list-row-item app-cabinets-list-column-name">
        {{cabinet.name}}
      </div>
    </div>
  </div>
</div>
