<div class="app-card-page">
  <app-header></app-header>

  <div class="app-card-page-elements">
    <div app-cabinet-card-menu class="app-card-page-left-menu" [cabinetId]="cabinet.id" [currentTab]="'TIMETABLE'"></div>

    <div class="app-card-page-content-scrollable">
      <ng-container *ngIf="!loadingInProgress">
        <app-timetable [groups]="cabinetGroups" [lessons]="cabinetLessons" [showFilters]="false"></app-timetable>
      </ng-container>
    </div>

    <div class="app-card-page-right-menu">
      <app-week-selector (onWeekChanged)="onWeekChanged($event)"></app-week-selector>
    </div>
  </div>
</div>
