<app-modal-template [modalStatus]="modalStatus">
  <div class="app-modal-content" *ngIf="!!studentGroup">
    <div class="app-modal-title">
      Добавление группы
    </div>

    <div class="app-modal-body">
      <app-form-select-control
        [type]="'NUMERIC'"
        [name]="'group'"
        [label]="'Группа'"
        [valid]="!!studentGroup.groupId"
        [valueNumber]="studentGroup.groupId"
        [items]="getGroupItems()"
        [hasEmpty]="true"
        (onChangeNumber)="studentGroup.groupId = $event"></app-form-select-control>

      <br>

      <div class="student-card-information-assign-group-popup-dates">
        <app-form-input-control
          class="student-card-information-assign-group-popup-dates-column"
          [label]="'Вступил в группу'"
          [valid]="true">
          <app-date-control
            [value]="studentGroup.startTime"
            (onChange)="studentGroup.startTime = $event">
          </app-date-control>
        </app-form-input-control>

        <app-form-input-control
          class="student-card-information-assign-group-popup-dates-column"
          [label]="'Покинул группу'"
          [valid]="true">
          <app-date-control
            [value]="studentGroup.finishTime"
            (onChange)="studentGroup.finishTime = $event">
          </app-date-control>
        </app-form-input-control>
      </div>
    </div>

    <div class="app-modal-footer">
      <button class="app-button-secondary pull-right" (click)="cancel()">
        Отмена
      </button>

      <button class="app-button-danger pull-right" [disabled]="isNew()" (click)="delete()">
        Удалить
      </button>

      <button class="app-button-primary pull-right" [disabled]="!isValid()" (click)="save()">
        Сохранить
      </button>
    </div>
  </div>
</app-modal-template>
