<app-modal-template [modalStatus]="modalStatus">
  <div class="app-modal-content" *ngIf="!!studentGroup">
    <div class="app-modal-title">
      Добавление группы
    </div>

    <div class="app-modal-body">
      <app-form-input-control
        [label]="'Группа'"
        [valid]="!!studentGroup.groupId">
        <app-select-group-control
          [value]="studentGroup.groupId"
          [groups]="groups"
          [students]="students"
          [staffMembers]="staffMembers"
          (onChange)="onGroupChanged($event)">
        </app-select-group-control>
      </app-form-input-control>

      <br>

      <div class="student-card-information-assign-group-popup-dates">
        <app-form-input-control
          class="student-card-information-assign-group-popup-dates-column"
          [label]="'Записался в группу (00:00:00)'"
          [valid]="!!studentGroup.startTime">
          <app-date-control
            [value]="studentGroup.startTime"
            (onChange)="studentGroup.startTime = $event">
          </app-date-control>
        </app-form-input-control>

        <div class="student-card-information-assign-group-popup-dates-column-separator"></div>

        <app-form-input-control
          class="student-card-information-assign-group-popup-dates-column"
          [label]="'Покинул группу (23:59:59)'"
          [valid]="!!studentGroup.finishTime">
          <app-date-control
            [value]="studentGroup.finishTime"
            (onChange)="studentGroup.finishTime = $event">
          </app-date-control>
        </app-form-input-control>
      </div>
    </div>

    <div class="app-modal-footer">
      <button class="app-button-primary app-modal-footer-buttons" [disabled]="!isValid()" (click)="save()">
        Сохранить
      </button>

      <button class="app-button-secondary app-modal-footer-buttons" (click)="cancel()">
        Отмена
      </button>

      <button class="app-button-danger app-modal-footer-buttons" [disabled]="isNew()" (click)="delete()">
        Удалить
      </button>
    </div>
  </div>
</app-modal-template>
