.new-students-student-name-column {
  width: 20%;
}

.new-students-manager-name-column {
  width: 20%;
}

.new-students-next-action-date-column {
  width: 20%;
}

.new-students-status-column {
  width: 20%;
}

.new-students-actions-column {
  width: 20%;
}
