<ng-container *ngIf="!!groupId">

  <app-menu-item
    [isActive]="currentTab === 'INFORMATION'"
    [title]="'Информация'"
    [icon]="'fa-info-circle'"
    (click)="navigationService.groups().id(this.groupId).information().go()">
  </app-menu-item>

  <app-menu-item
    [isActive]="currentTab === 'STUDENTS'"
    [title]="'Ученики'"
    [icon]="'fa-users'"
    (click)="navigationService.groups().id(this.groupId).students().go()">
  </app-menu-item>

  <app-menu-item
    [isActive]="currentTab === 'TIMETABLE'"
    [title]="'Расписание'"
    [icon]="'fa-clock-o'"
    (click)="navigationService.groups().id(this.groupId).timetable().go()">
  </app-menu-item>

</ng-container>
