<div class="page">
  <app-header [activeSection]="'GROUPS'"></app-header>

  <div class="list-header-container">
    <div class="list-header">
      <div class="groups-list-header-color"></div>

      <div app-search-text-input-control class="groups-list-header-search groups-name-column"
           [placeholder]="'Название'"
           (onChange)="onNameFilterChange($event)"></div>

      <div app-search-select-control class="groups-list-header-search groups-education-level-column"
           [items]="getEducationLevelItems()"
           (onChange)="onEducationLevelFilterChange($event)"></div>

      <div app-search-select-control class="groups-list-header-search groups-age-column"
           [items]="getAgeItems()"
           (onChange)="onAgeFilterChange($event)"></div>

      <div app-search-select-control class="groups-list-header-search groups-cabinets-column"
           [items]="getCabinetItems()"
           (onChange)="onCabinetFilterChange($event)"></div>
    </div>

    <div class="groups-list-header-add-new">
      <button class="btn btn-primary pull-right" (click)="openNewGroupPage()">
        Добавить
      </button>
    </div>
  </div>

  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <fa name="spinner" class="loading-sign" animation="spin"></fa>
    </div>

    <div *ngFor="let group of groups"
         class="list-row-clickable"
         [class.group-list-row-inactive]="!groupHasActiveStudents(group.id)"
         (click)="openGroupPage(group.id)">

      <div class="groups-list-item-color">
        <div class="groups-list-item-color-circle" [style.background-color]="group.color">
        </div>
      </div>
      <div class="list-row-item groups-name-column">
        {{group.name}}
      </div>
      <div class="list-row-item groups-education-level-column">
        {{getEducationLevelTranslation(group.educationLevel)}}
      </div>
      <div class="list-row-item groups-age-column">
        {{getAgeTranslationAsGroup(group.age)}}
      </div>
      <div class="list-row-item groups-cabinets-column">
        {{getGroupCabinet(group.id).name}}
      </div>
    </div>
  </div>
</div>
