@import "../../../styles.less";

.groups-list-header-color {
  width: 5%;
}

.groups-list-header-search {
  width: 20%;
  padding-right: 20px;
}

.groups-list-header-add-new {
  width: 15%;
}

.groups-list-item-color {
  width: 5%;
  padding-top: 15px;
}

.groups-list-item-color-circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.groups-list-item-search {
  .list-row-item;

  width: 20%;
}
