<div class="page">
  <app-header [activeSection]="'GROUPS'"></app-header>

  <div class="list-header-container">
    <div class="list-header">
      <div class="groups-list-header-color"></div>

      <app-filter-group-type class="groups-list-header-search groups-type-column" (onChange)="onGroupTypeFilterChange($event)"></app-filter-group-type>
      <app-filter-education-level class="groups-list-header-search groups-education-level-column" (onChange)="onEducationLevelFilterChange($event)"></app-filter-education-level>
      <app-filter-age class="groups-list-header-search groups-age-column" (onChange)="onAgeFilterChange($event)"></app-filter-age>
      <app-filter-cabinets class="groups-list-header-search groups-cabinets-column" (onChange)="onCabinetFilterChange($event)"></app-filter-cabinets>

      <div class="groups-students-column">
        <div class="list-header-label">
          Студенты
        </div>
      </div>
    </div>

    <div class="groups-list-header-add-new">
      <button class="btn btn-primary pull-right" (click)="this.navigationService.groups().new()">
        Добавить
      </button>
    </div>
  </div>

  <div class="list-content">
    <div class="page-loading" *ngIf="loadingInProgress">
      <div class="app-loader"></div>
    </div>

    <div *ngFor="let group of groups"
         class="list-row-clickable"
         [class.list-row-inactive]="!isGroupActive(group.id)"
         (click)="openGroupPage(group.id)">

      <div class="groups-list-item-color">
        <div class="groups-list-item-color-circle" [style.background-color]="group.color">
        </div>
      </div>
      <div class="list-row-item groups-type-column">
        {{getGroupTypeTranslation(group.type)}}
      </div>
      <div class="list-row-item groups-education-level-column">
        {{getEducationLevelTranslation(group.educationLevel)}}
      </div>
      <div class="list-row-item groups-age-column">
        {{getAgeTranslationAsGroup(group.age)}}
      </div>
      <div class="list-row-item groups-cabinets-column">
        {{getGroupCabinet(group.id).name}}
      </div>
      <div class="list-row-item groups-students-column">
        {{getGroupStudentsString(group.id)}}
      </div>
    </div>
  </div>
</div>
