<div class="page">
  <app-header></app-header>

  <div class="page-elements">
    <div class="page-left-menu" app-student-menu [studentId]="student.id" [currentTab]="'PAYMENT'"></div>

    <div class="page-content-with-footer">
      <div *ngIf="loadingInProgress" class="page-loading">
        <fa name="spinner" animation="spin"></fa>
      </div>

      <ng-container *ngIf="!loadingInProgress">
        <h3 *ngIf="!!student.id">
          Информация об оплате - '{{student.name}}'
        </h3>

        <br>

        <div class="payments-list-content">
          <div *ngFor="let payment of payments" class="list-row">
            <div class="list-row-item" style="width: 50%">
              {{payment.time | date: 'dd.MM.yyyy'}}
            </div>
            <div class="list-row-item" style="width: 50%">
              {{payment.amount}}₽
            </div>
          </div>
        </div>
      </ng-container>

      <app-student-payment-modal [studentId]="student.id"></app-student-payment-modal>
    </div>

    <div class="page-right-menu">
    </div>
  </div>

  <div class="footer">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addAttendance">
      Добавить оплату
      <fa *ngIf="actionInProgress" name="spinner" class="loading-sign" animation="spin"></fa>
    </button>
  </div>
</div>
