@import "~styles/index";

@students-list-column-width-separation: 2%;

@students-list-column-width-validation: 3%;
@students-list-column-width-name: 23%;
@students-list-column-width-groups: 18%;
@students-list-column-width-manager: 18%;
@students-list-column-width-status: 18%;
@students-list-column-width-actions: 10%;

/**
 * Columns
 */

.app-students-list-column-validation {
  width: @students-list-column-width-validation;
  margin-right: @students-list-column-width-separation;
}

.app-students-list-column-name {
  width: @students-list-column-width-name;
  margin-right: @students-list-column-width-separation;
}

.app-students-list-column-manager {
  width: @students-list-column-width-manager;
  margin-right: @students-list-column-width-separation;
}

.app-students-list-column-groups {
  width: @students-list-column-width-groups;
  margin-right: @students-list-column-width-separation;
}

.app-students-list-column-status {
  width: @students-list-column-width-status;
  margin-right: @students-list-column-width-separation;
}

.app-students-list-column-actions {
  width: @students-list-column-width-actions;
}

/**
 * Other
 */

.student-groups-circle {
  width: @app-size-4;
  height: @app-size-4;
  border-radius: @app-size-2;
}

.student-status-label {
  border-radius: @app-size-0-5;
  text-align: center;
}

.student-groups-circle:hover {
  opacity: 0.5;
}
