<app-modal-template [id]="'studentStatus'" [title]="'Изменение статуса'" [modalVisible]="modalVisible">
  <div class="modal-body">
    <form>
      <div *ngIf="hasAction" app-form-date-control
           [label]="'Дата'"
           [dateFormat]="'dd.mm.yyyy'"
           [value]="actionDateTime"
           (onChange)="actionDateTime = $event"></div>

      <div *ngIf="hasAction" app-form-select-control class="form-group"
           [name]="'actionTime'"
           [label]="'Время'"
           [valid]="true"
           [value]="actionTime"
           [items]="actionTimeItems"
           (onChange)="actionTime = $event"></div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close() ">
      Отмена
    </button>

    <button type="button" class="btn btn-primary" (click)="changeStudentStatus()">
      Сохранить

      <fa *ngIf="actionInProgress" name="spinner" class="horizontal-item loading-sign" animation="spin"></fa>
    </button>
  </div>
</app-modal-template>
